<template>
  <div>
    <div class="form-group">
      <div class="text-left font-weight-bold">{{getName(formType)}}</div>
      <input
        class="form-control"
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        :name="formType"
        v-validate="validationRule[formType]"
        :value="data"
        @input="updateValue(formType,$event.target.value)"
      >
      <span class="invalid-feedback">{{ errors.first(formType) }}</span>
    </div>
  </div>
</template>



<script lang="ts">
import { Vue } from 'vue-property-decorator';
import userService from '@/shared/user-service';
import { RunnerRegistrationForm } from '@/types/form';
import VueSweetalert2 from 'vue-sweetalert2';
import { Component, Mixins } from 'vue-mixin-decorator';
import UserFormValidation from '@/mixins/UserFormValidation';

@Component({
  props: {
    formType: String,
    data: String,
  },
})
export default class DateFormList extends Mixins<UserFormValidation>(
  UserFormValidation,
) {
  // computed

  // data

  // method
  public updateValue(type: String, value: String) {
    this.$emit(`updateValue`, { type, value });
  }
  public getName(name: any) {
    const temp = name.split(/(?=[A-Z])/);
    temp[0] = this.capitalizeFirstLetter(temp[0]);
    return temp.join(' ');
  }
  public capitalizeFirstLetter(text: any) {
    return text.charAt(0).toUpperCase() + text.slice(1);
  }

  // mounted
  public mounted() {
    console.log('props', this.$props);
  }
}
</script>

<style scoped>
.profile-detail {
  border: 1px solid #4c3c1b;
}

.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}
.lg_button {
  background: white !important;
  border: 1px solid #000000 !important;
  color: black !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: transparent !important;
}

.modal-content {
  border-radius: 0px !important;
  padding: 1rem !important;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn:hover:enabled {
  background-color: black !important;
  color: white !important;
  text-decoration: none !important;
}

.modal {
  overflow-y: auto;
}
body.modal-open {
  overflow: hidden;
}

.inline {
  display: inline;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
}
.form-group {
  margin-bottom: 10px !important;
}
.close:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>
