<template>
  <div>
    <div class="row">
      <label for="" class="col-sm-2">Fees</label>
      <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-6">
              <label for="form-description">Description</label>
            </div>
            <div class="col-sm-4">
              <label for="form-price">Price (THB)</label>
            </div>
          </div>
          <div
            class="row form-group"
            v-for="(fee, i) in feeList"
            :key="i">
            <div class="col-sm-6">
              <input
                type="text"
                :name="`form-description-${i}`"
                :value="fee.description"
                @input="editFeeDescription(i, $event.target.value)"
                class="form-control">
            </div>
            <div class="col-sm-4">
              <input
                type="text"
                :name="`form-description-${i}`"
                :value="String(fee.price)"
                @input="editFeePrice(i, $event.target.value)"
                class="form-control">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-red" @click.prevent="removeFee(i)">Remove</button>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <input
                type="text"
                name="form-description"
                v-model="form.description"
                class="form-control">
            </div>
            <div class="col-sm-4">
              <input
                type="text"
                name="form-price"
                v-model="form.price"
                class="form-control">
            </div>
            <div class="col-sm-1 d-flex align-items-center">
              <button class="btn btn-teal" @click.prevent="addToFeeList">Add</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { RegistrationFee } from '@/types';

@Component
export default class EventRegistrationFee extends Vue {
  @Prop({ default: () => [] }) public feeList!: RegistrationFee[];
  public form = {
    description: '',
    price: '',
  };

  @Watch('feeList')
  public emitFeeList() {
    this.$emit('input', this.feeList);
  }

  public addToFeeList() {
    const { description, price } = this.form;
    this.feeList.push({
      description,
      price: Number(price),
    });
    this.form.description = '';
    this.form.price = '';
  }

  public removeFee(index: number) {
    this.feeList.splice(index, 1);
  }

  public editFeeDescription(index: number, description: string) {
    this.feeList[index].description = description;
  }

  public editFeePrice(index: number, price: string) {
    this.feeList[index].price = Number(price);
  }
}
</script>

<style scoped>
.btn-teal {
  background-color: #02abb8;
  color: white;
  border-radius: 0;
}

.btn-teal:hover {
  background-color: #03b9c7;
  color: white;
}

.btn-teal:active {
  background-color: #028c97;
  color: white;
}

.btn-red {
  background-color: #cd2323;
  color: white;
  border-radius: 0;
}

.btn-red:hover {
  background-color: #da2626;
  color: white;
}

.btn-red:active {
  background-color: #b92020;
  color: white;
}

.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.button-badge {
  cursor: pointer;
}
</style>

