<template>
  <div class="row form-group">
    <label :for="name" class="col-sm-2">{{label}}</label>
    <div class="col-sm-10">
      <input
        class="form-control"
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        :name="name"
        :value="value"
        @input="updateValue($event.target.value)" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class DateFormList extends Vue {
  @Prop(String) public name!: string;
  @Prop(String) public label!: string;
  @Prop({ default: '' }) public value!: string;

  public updateValue(value: string) {
    this.$emit('input', value);
  }
}
</script>

<style scoped>
.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-group {
  margin-bottom: 10px !important;
}
</style>
