<template>
  <div class="row form-group">
    <label :for="name" class="col-sm-2">{{label}}</label>
    <div class="col-sm-10">
      <textarea
        type="text"
        :name="name"
        :value="value"
        @input="onValueChanged($event.target.value)"
        rows="3"
        class="form-control">
      </textarea>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class EventFormTextArea extends Vue {
  @Prop(String) public label!: string;
  @Prop(String) public name!: string;
  @Prop({ default: '' }) public value!: string;

  public onValueChanged(value: string) {
    this.$emit('input', value);
  }
}
</script>

<style scoped>
.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
}
</style>

