<template>
  <div class="row">
    <label class="col-sm-2">Banner</label>
    <div class="upload-frame col-sm-10" v-show="!imageUrl">
      <input
        type="file"
        name="image-banner"
        ref="eventBannerInput"
        @change="onImageChanged($event.target)">
      <div class="upload-icon-container">
        <font-awesome-icon class="upload-icon" icon="cloud-upload-alt" style="width:100%;height:100%;"/>
      </div>
      <button class="btn btn-teal" @click="browseFile">Browse...</button>
      <div>Minimum banner size: 123 x 123 px</div>
    </div>
    <div class="col-sm-10" v-show="imageUrl">
      <img :src="imageUrl" alt="Event banner image" class="banner-image">
      <button class="button-ontop btn-teal" @click="browseFile" aria-label="edit">
        <font-awesome-icon class="edit-icon" icon="pencil-alt" style="width:100%;height:100%;"/>
      </button>
    </div>
  </div>  
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component
export default class EventImageInput extends Vue {
  @Prop({ default: '' }) public imageUrlProp!: string;
  public imageUrl = '';

  public created() {
    this.imageUrl = this.imageUrlProp;
  }

  public browseFile() {
    const element = this.$refs.eventBannerInput as HTMLInputElement;
    element.click();
  }

  public onImageChanged(element: HTMLInputElement) {
    if (element.files && element.files.length > 0) {
      const file = element.files[0];
      this.imageUrl = URL.createObjectURL(file);
      this.$emit('input', file);
    }
  }

  @Watch('imageUrlProp')
  public onPropChange() {
    this.imageUrl = this.imageUrlProp;
  }
}
</script>

<style scoped>
.upload-frame {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #efefef;
  margin-bottom: 25px;
}

.upload-icon-container {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.edit-icon {
  width: 25px;
  height: 25px;
}

.btn-teal {
  background-color: #02abb8;
  color: white;
  border-radius: 0;
}

.btn-teal:hover {
  background-color: #03b9c7;
  color: white;
}

.btn-teal:active {
  background-color: #028c97;
  color: white;
}

.banner-image {
  max-height: 768px;
  max-width: 95%;
  height: auto;
  object-fit: contain;
  margin-bottom: 25px;
}

.button-ontop {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

input[type='file'] {
  display: none;
}
</style>

