<template>
  <div class="row form-group">
    <label :for="name" class="col-sm-2">{{label}}</label>
    <div class="col-sm-10">
      <select :name="name" class="form-control" :value="type" @input="onTypeChanged($event.target.value)">
        <option
          v-for="option in options"
          :key="option.id"
          :value="option.name">
          {{option.name}}
        </option>
      </select>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import searchService from '@/shared/search-service';
import { PreFilter } from '@/types';

@Component
export default class EventFormTypeSelect extends Vue {
  @Prop(String) public  name!: string;
  @Prop(String) public label!: string;
  @Prop({ default: '' }) public type!: string;
  public options: PreFilter[] = [];

  public onTypeChanged(type: string) {
    this.$emit('input', type);
  }

  protected created() {
    this.fetchOptions();
  }

  private async fetchOptions() {
    const response = await searchService.getFilter();
    if (response.data) {
      this.options = response.data;
    }
  }
}
</script>

<style scoped>
.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
}
</style>

