<template>
  <div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        ref="male"
        type="radio"
        id="male-select"
        name="male-select"
        class="custom-control-input"
        value="Male"
        v-validate="validationRule[formType]"
        @click="onGenderChange"
      >
      <label class="custom-control-label" for="male-select">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        ref="female"
        type="radio"
        id="female-select"
        name="male-select"
        class="custom-control-input"
        value="Female"
        v-validate="validationRule[formType]"
        @click="onGenderChange"
      >
      <label class="custom-control-label" for="female-select">Female</label>
    </div>
  </div>
</template>



<script lang="ts">
import { Vue } from 'vue-property-decorator';
import userService from '@/shared/user-service';
import { RunnerRegistrationForm } from '@/types/form';
import VueSweetalert2 from 'vue-sweetalert2';
import { Component, Mixins } from 'vue-mixin-decorator';
import UserFormValidation from '@/mixins/UserFormValidation';

@Component({
  props: {
    formType: String,
    data: String,
  },
})
export default class RadioFormList extends Mixins<UserFormValidation>(
  UserFormValidation,
) {
  // data
  public gender = '';
  // method

  public onGenderChange(event: any) {
    this.gender = event.target.value;
    console.log('gender', this.gender);
    const { formType } = this.$props;
    this.$emit(`updateValue`, {
      type: this.$props.formType,
      value: this.gender,
    });
  }

  public setGender() {
    console.log('pp', this.$props.data);
    this.gender = this.$props.data;
    console.log('gender', this.gender);
    if (this.gender === 'Male') {
      console.log('male.click');
      const male: HTMLElement = this.$refs.male as HTMLElement;
      male.click();
    } else if (this.gender === 'Female') {
      const female: HTMLElement = this.$refs.female as HTMLElement;
      female.click();
    }
  }

  // mounted
  public mounted() {
    setTimeout(() => {
      this.setGender();
  }, 300);
  }

}
</script>

<style scoped>
.profile-detail {
  border: 1px solid #4c3c1b;
}

.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}
.lg_button {
  background: white !important;
  border: 1px solid #000000 !important;
  color: black !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: transparent !important;
}

.modal-content {
  border-radius: 0px !important;
  padding: 1rem !important;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn:hover:enabled {
  background-color: black !important;
  color: white !important;
  text-decoration: none !important;
}

.modal {
  overflow-y: auto;
}
body.modal-open {
  overflow: hidden;
}

.inline {
  display: inline;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
}
.form-group {
  margin-bottom: 10px !important;
}
.close:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>
