<template>
  <div class="row pl-5 pr-4">
    <div class="col-12 p-3 box row d-flex align-items-center justify-content-center">
      <span class="col-6">
        <div class="row">
          <div class="col name reason">{{report.reason}}</div>
        </div>
      </span>
      <span class="set-element col-2">
        {{report.reportFrom.id}}
      </span>
      <span class="set-element col-2">
        {{report.reportTo.id}}
      </span>
      <div class="col-2">
        <span>
          <button type="button" class="btn button-edit" @click="showModal = true">View Report</button>
        </span>
      </div>
    </div>
    <AdminReportModal
      v-if="showModal"
      @closeModal="showModal = false"
      :report="report"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Report } from '@/types';
import AdminReportModal from '@/components/admin/AdminReportModal.vue';

@Component({
  components: {
    AdminReportModal,
  },
})
export default class AdminReportBox extends Vue {
  @Prop(Object) public report!: Report;
  public showModal = false;
}
</script>

<style scoped>
.box {
  border: 1px solid #707070;
}
.set {
  margin-bottom: 5%;
}
.set-element {
  padding: 0 8%;
}
.reason {
  text-overflow: ellipsis;
}
.center {
  padding: 50% 0;
}
.name {
  font-size: 18px;
  text-align: left;
}

.button-edit {
  background-color: #616161;
  color: white;
  border-radius: 0%;
}
.button-edit:hover {
  color: white;
}
</style>

