<template>
  <div>
    <Banner
      :text="bannerText"/>
    <div class="container root-container">
      <EventImageInput v-model="image" :imageUrlProp="form.imageUrl" />
      <form @submit.prevent="submitForm">
        <EventFormInput
          label="Name"
          name="event-name"
          v-model="form.name" />
        <EventFormInput
          label="Location"
          name="event-location"
          v-model="form.location" />
        <EventFormDate
          name="event-date"
          label="Date"
          v-model="form.date" />
        <EventFormTypeSelect
          name="event-type"
          label="Type"
          :type="form.type"
          v-model="form.type" />
        <EventFormTextArea
          name="event-detail"
          label="Detail"
          v-model="form.detail" />
        <EventRegistrationFee
          v-model="form.feeList"
          :feeList="form.feeList" />
        <div class="row">
          <div class="col-sm-4">
            <input type="checkbox" class="form-check-input" name="event-is-register" v-model="form.isRegister">
            <label class="form-check-label" for="exampleCheck1">Open registration now</label>
          </div>
          <div class="col-sm-8 bottom">
            <button class="btn btn-teal float-right" id="create-button">{{submitText}} event</button>
            <router-link to="/eventList">
              <button class="btn btn-red float-right">Cancel</button>
            </router-link>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Banner from '@/components/Banner.vue';
import EventFormInput from '@/components/Form/EventFormInput.vue';
import EventFormDate from '@/components/Form/EventFormDate.vue';
import EventRegistrationFee from '@/components/Form/EventRegistrationFee.vue';
import EventFormTextArea from '@/components/Form/EventFormTextArea.vue';
import EventFormTypeSelect from '@/components/Form/EventFormTypeSelect.vue';
import EventImageInput from '@/components/Form/EventImageInput.vue';
import eventService from '@/shared/event-service.ts';
import { RegistrationFee, EventManageForm, User, HTTP_STATUS_OK } from '@/types';

@Component({
  components: {
    Banner,
    EventFormInput,
    EventFormDate,
    EventRegistrationFee,
    EventFormTextArea,
    EventFormTypeSelect,
    EventImageInput,
  },
})
export default class CreateEvent extends Vue {
  @Prop({ default: '' }) public id!: string;

  public form = {
    name: '',
    location: '',
    date: '',
    detail: '',
    type: '',
    isRegister: true,
    feeList: Array<RegistrationFee>(),
    imageUrl: '',
  };

  public image: any = '';
  public get bannerText() {
    if (this.id) {
      return 'Edit running event';
    }
    return 'Create new running event';
  }

  public get submitText() {
    if (this.id) {
      return 'Edit';
    }
    return 'Create';
  }

  public created() {
    if (!this.id) {
      return;
    }
    this.fetchData();
  }

  public get currentUser(): User {
    return this.$store.getters.currentUser;
  }

  public get eventManageForm(): EventManageForm {
    const feePriceList = this.form.feeList.map((fee) => {
      return fee.price;
    });
    let id;
    if (this.id) {
      id = this.id;
    }
    const minFee = Math.min(0, ...feePriceList);
    const maxFee = Math.max(0, ...feePriceList);
    return {
      name: this.form.name,
      location: this.form.location,
      date: new Date(this.form.date).toISOString(),
      detail: this.form.detail,
      type: this.form.type,
      isRegister: this.form.isRegister,
      feeList: this.form.feeList,
      ownerId: this.currentUser.id,
      minFee,
      maxFee,
      id,
    };
  }

  public async fetchData() {
    const response = await eventService.getEventByID(this.id);
    console.log(response)
    if (!response.data) {
      return;
    }
    const event = response.data;
    this.form.imageUrl = event.imageURL;
    this.form.name = event.name;
    this.form.location = event.location;
    this.form.date = this.formatDate(event.date);
    this.form.detail = event.detail;
    this.form.isRegister = event.isRegister;
    this.form.feeList = event.feeList;
    this.form.type = event.type;
  }

  public async submitForm() {
    if (this.id) {
      await this.editEvent();
    } else {
      await this.createEvent();
    }
    this.$router.push('/eventList');
  }

  public async editEvent() {
    const eventManageForm = this.eventManageForm;
    try {
      const createEventResponse = await eventService.editEvent(this.id, eventManageForm);
      if (createEventResponse.status !== HTTP_STATUS_OK) {
        return;
      }
      if (!this.image) {
        return;
      }
      await eventService.uploadImage(this.image, this.id);
    } catch (error) {
      console.log(error);
    }
  }

  public async createEvent() {
    const eventManageForm = this.eventManageForm;
    try {
      const createEventResponse = await eventService.createEvent(eventManageForm);
      const createdEvent = createEventResponse.data;
      if (!createdEvent) {
        return;
      }
      const eventId = createdEvent.id;
      if (!this.image) {
        return;
      }
      await eventService.uploadImage(this.image, eventId);
    } catch (error) {
      console.log(error);
    }
  }

  private formatDate(date: Date) {
    const d = new Date(date);
    let month = '' + (d.getMonth() + 1);
    let day = '' + d.getDate();
    const year = d.getFullYear();

    if (month.length < 2) {
      month = '0' + month;
    }
    if (day.length < 2) {
      day = '0' + day;
    }
    return [year, month, day].join('-');
  }
}
</script>

<style scoped>
.root-container {
  margin-top: 30px;
  max-width: 768px;
}

.btn-teal {
  background-color: #02abb8;
  color: white;
  border-radius: 0;
}

.btn-teal:hover {
  background-color: #03b9c7;
  color: white;
}

.btn-teal:active {
  background-color: #028c97;
  color: white;
}

.btn-red {
  background-color: #cd2323;
  color: white;
  border-radius: 0;
}

.btn-red:hover {
  background-color: #da2626;
  color: white;
}

.btn-red:active {
  background-color: #b92020;
  color: white;
}

.bottom {
  margin-bottom: 50px;
}

#create-button {
  margin-left: 20px;
}
</style>
