<template>
  <div>
    <div
      class="head-profile d-flex align-content-center align-items-center justify-content-center"
      :class="{ 'bg-runner' : role === 'Runner' , 'bg-manager': role === 'EventManager'}"
    >
      <div class="profile-top">
        <avatar-upload @file="updateFile" :imageURL="imageURL"/>

        <div class="profile-id font-weight-bold">ID: {{id}} ({{role}})</div>
      </div>
    </div>
    <personal-detail
      :id.sync="id"
      :password.sync="password"
      :firstname="firstname"
      :lastname.sync="lastname"
      :idCardNumber.sync="idCardNumber"
      :phoneNumber.sync="phoneNumber"
      :birthDate.sync="birthDate"
      :gender.sync="gender"
      @update:firstname="value => firstname = value"
      @update:lastname="value => lastname = value"
      @update:idCardNumber="value => idCardNumber = value"
      @update:phoneNumber="value => phoneNumber = value"
      @update:birthDate="value => birthDate = value"
      @update:gender="value => gender = value"
    />
    <div class="row mt-5">
      <div class="col d-flex flex-row-reverse mb-5" style="padding-right:200px;">
        <div
          class="d-flex submit-btn align-items-center justify-content-center"
          :class="{ 'btn-runner' : role === 'Runner' , 'btn-manager': role === 'EventManager'}"
          style="cursor:pointer"
          @click="updateRunner()"
        >Save Change</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PersonalDetail from '@/components/PersonalDetail.vue';
import userService from '@/shared/user-service';
import { UserData } from '@/types';
import VueSweetalert2 from 'vue-sweetalert2';
import AvatarUpload from '@/components/AvatarUpload.vue';

@Component({
  components: {
    'personal-detail': PersonalDetail,
    'avatar-upload': AvatarUpload,
  },
  props: {},
})
export default class EditProfile extends Vue {
  // data
  public id = '';
  public password = '';
  public firstname = '';
  public lastname = '';
  public idCardNumber = '';
  public phoneNumber = '';
  public birthDate = '';
  public gender = '';
  public confirmPassword = '';
  public isLoading = false;
  public role = '';
  public image: any = '';
  public imageURL = '';
  // mounted
  public mounted() {
    console.log(this.$route);
    console.log('user = ');
    const { id, role } = this.$store.state.SessionModule.user;
    this.role = role;
    console.log(id);
    if (id) {
      this.isLoading = true;
      try {
        userService.getUserData({ id }).then(res => {
          if (res.data) {
            console.log('uesr data',res.data);
            const {
              id,
              firstname,
              lastname,
              idCardNumber,
              phoneNumber,
              birthDate,
              gender,
              imageURL,
            } = res.data;
            this.id = id;
            this.firstname = firstname;
            this.lastname = lastname;
            this.idCardNumber = idCardNumber;
            this.phoneNumber = phoneNumber;
            this.birthDate = this.getFormattedDate(birthDate);
            this.gender = gender;
            this.isLoading = true;
            this.imageURL = imageURL || '';
          }
        });
      } catch (error) {}
    }
  }

  // method
  public updateFile(file: any) {
    this.image = file;
  }
  public async updateRunner() {
    const updatedData: UserData = {
      id: this.id,
      firstname: this.firstname,
      lastname: this.lastname,
      idCardNumber: this.idCardNumber,
      phoneNumber: this.phoneNumber,
      birthDate: this.birthDate,
      gender: this.gender,
      password: null,
      bankAccount: null,
      bankAccountNumber: null,
      role: 'Runner',
    };
    console.log(updatedData);
    await userService
      .updateRunner(updatedData)
      .then((res) => {
        console.log(res);
        this.$swal({
          type: 'success',
          title: 'Success',
          text: 'Update complete !',
        });
      })
      .catch((err) => {
        console.log(err);
      });
    await userService.uploadProfileImage(this.image, this.id);
  }
  public getFormattedDate(data: string) {
    const date = new Date(data);
    let str =
      date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
    return str;
  }
}
</script>

<style scoped>
.head-profile {
  width: 100%;
  height: 20em;
  background-color: rgb(211, 222, 238);
}

.test-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: gray;
}
.btn-runner:hover {
  background-color: rgb(239, 171, 98);
}
.btn-manager:hover {
  background-color: rgb(81, 177, 189);
}
.bg-runner {
  background-color: rgb(248, 206, 160);
}

.bg-manager {
  background-color: rgb(147, 211, 248);
}
.submit-btn {
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
}
.submit-btn:hover {
  transition: 200ms;

  text-decoration: none;
  color: white;
}
</style>
