<template>
  <div>
    <div
      class="d-flex align-items-center justify-content-b'tween inform mb-5 pl-5 pr-5"
      :class="{ 'bg-runner' : currentUser.role === 'Runner' , 'bg-manager': currentUser.role === 'EventManager'}"
    >
      <div class>
        <b>Welcome, {{currentUser.id}}</b>
      </div>
    </div>
    <div class="row col">
      <a-calendar class="col-9" @select="cellClick" id="calendar" @panelChange="changeMode">
        <ul class="events" slot="dateCellRender" slot-scope="value">
          <li v-for="item in getListCalendarData(value)" :key="item.content">
            <a-badge :status="item.type" :text="item.content"/>
          </li>
        </ul>
        <ul class="events" slot="monthCellRender" slot-scope="value">
          <li v-for="item in getMonthData(value)" :key="item.content">
            <a-badge :status="item.type" :text="item.content"/>
          </li>
        </ul>
      </a-calendar>
      <div class="upcoming-event col-3">
        <div class="title">Upcoming Event</div>
        <UpComingEvents :events="listEvents"/>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import EventService from "../shared/event-service";
import { User } from "@/types";
import UpComingEvents from "@/components/UpComingEvents.vue";
import moment from "moment";

@Component({
  props: { info: Object },
  components: { UpComingEvents }
})
export default class EventsCalendar extends Vue {
  //data
  public reservedEvents: any = [];
  public listEvents: any = [];
  public data: any = [];
  public cellClick = (date: any) => {
    this.getListEvents(date);
  };
  public changeMode = (date: any, mode: any) => {
    localStorage.setItem("mode", mode);
  };
  //method
  public mounted() {
    this.getReservedEvents();
    setTimeout(() => {
      this.getListEvents(moment());
    }, 250);
  }
  public getListCalendarData(value: any) {
    let listData: any = [];
    this.reservedEvents.forEach((e: any) => {
      let eventDate = new Date(e.event.date);
      if (eventDate.toDateString() === value.toDate().toDateString()) {
        let eventDatems = new Date(eventDate.toDateString()).valueOf();
        let currentms = new Date(new Date().toDateString()).valueOf();
        if (eventDatems < currentms) {
          listData.push({
            type: "error",
            content: e.event.name
          });
        } else if (eventDatems === currentms) {
          listData.push({
            type: "warning",
            content: e.event.name
          });
        } else {
          listData.push({
            type: "success",
            content: e.event.name
          });
        }
      }
    });

    return listData;
  }
  public getListEvents(value: any) {
    let listEvents = [];

    const D = value.toDate();
    for (let i = 0; i < this.reservedEvents.length; i++) {
      let temp = new Date(this.reservedEvents[i].event.date);
      if (
        temp.toDateString() === D.toDateString() ||
        (temp.getMonth() === D.getMonth() && localStorage.mode === "year")
      ) {
        listEvents.push(this.reservedEvents[i]);
      }
    }
    this.listEvents = listEvents;
  }

  public getMonthData(value: any) {
    let listData: any = [];
    this.reservedEvents.forEach((e: any) => {
      let temp = new Date(e.event.date);
      if (temp.getMonth() === value.toDate().getMonth()) {
        if (temp.getMonth() < new Date().getMonth()) {
          listData.push({
            type: "error",
            content: e.event.name
          });
        } else if (temp.getMonth() === new Date().getMonth()) {
          listData.push({
            type: "warning",
            content: e.event.name
          });
        } else {
          listData.push({
            type: "success",
            content: e.event.name
          });
        }
      }
    });
    return listData;
  }
  public getReservedEvents() {
    if (this.currentUser.id) {
      EventService.getReservedEventByRunnerID(this.currentUser.id).then(res => {
        this.reservedEvents = res.data;
      });
    }
  }
  public get currentUser(): User {
    return this.$store.getters.currentUser;
  }
}
</script>
<style scoped>
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
.inform {
  height: 6rem;
  font-size: 1.7rem;
  color: white;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
.bg-runner {
  background-image: linear-gradient(to right, #ff9100, #ffab3c);
}
.bg-manager {
  background-image: linear-gradient(to right, #02abb8, #23d4e0);
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
}
.upcoming-event {
  width: 50em;
}
</style>