<template>
  <div class>
    <div class="d-flex align-items-center justify-content-between inform mb-5 pl-5 pr-5">
      <div class>
        <b>Manage Event</b>
      </div>
      <router-link to="/event/create">
        <button class="btn button-create">+ Create new event</button>
      </router-link>
    </div>
    <div class="row pl-5">
      <div class="col-1 mr-3">
        <span class="set-element">Date</span>
      </div>
      <div class="col-10 row">
        <span class="set-element col-3">Event name</span>
        <span class="set-element col-2">Status</span>
        <span class="set-element col-2">Participant</span>
        <div class="col-5"></div>
      </div>
      <div class="col-1"></div>
    </div>
    <div v-if="events" >
    <div class="mb-3 mt-3" v-for="event in events" :key="event.id">
      <Eventbox :info="event"/>
    </div>

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Eventbox from '@/components/Eventbox.vue';
import { Event } from '../types/';
import EventService from '@/shared/event-service';
import { User } from '@/types';

@Component({
  components: {
    Eventbox,
  },
})
export default class Eventlists extends Vue {
  // public events: Event[] = [
  //   {
  //     id: 1,
  //     name: "Run For Dek Suratthani ",
  //     imageURL: "try",
  //     type: "maraton",
  //     date: new Date(2018, 11, 11),
  //     isRegister: false,
  //     location: "Suratthani",
  //     minFee: 10,
  //     maxFee: 200
  //   },
  //   {
  //     id: 2,
  //     name: "TU Law Run",
  //     imageURL: "try",
  //     type: "maraton",
    //   date: new Date(2018, 12, 11),
    //   isRegister: true,
    //   location: "Thammasat University,Bangkok",
    //   minFee: 10,
    //   maxFee: 200
    // },
    // {
    //   id: 3,
    //   name: "Run For Better City",
    //   imageURL: "try",
    //   type: "maraton",
    //   date: new Date(2018, 12, 11),
    //   isRegister: true,
    //   location: "Chulalongkorn University, Bangkok",
    //   minFee: 10,
    //   maxFee: 200
    // },
    // {
    //   id: 4,
    //   name: "STA Hatyai Healthy",
    //   imageURL: "try",
    //   type: "maraton",
    //   date: new Date(2018, 12, 11),
    //   isRegister: true,
    //   location: "Hatyai city, Songkla",
    //   minFee: 10,
    //   maxFee: 200
    // },
    // {
    //   id: 5,
    //   name: "Sci KU Run 2019",
    //   imageURL: "try",
    //   type: "maraton",
    //   date: new Date(2018, 12, 11),
    //   isRegister: true,
    //   location: "Kasetsart University, Bangkok",
    //   minFee: 10,
    //   maxFee: 200
  //   },
  //   {
  //     id: 6,
  //     name: "SPRC RUN FOR YOU",
  //     imageURL: "try",
  //     type: "maraton",
  //     date: new Date(2018, 12, 11),
  //     isRegister: true,
  //     location: "U-Tapao International Airport, Rayong",
  //     minFee: 10,
  //     maxFee: 200
  //   }
  // ];

  public events: Event[] | null = null;

    public get currentUser(): User {
    return this.$store.getters.currentUser;
  }
  
  public async getEvent() {
     EventService.getMyEvent(this.$store.getters.currentUser.id).then((res) => {
       console.log('res', res);
       if (res.data) {
         const data = res.data
         const events = data.sort((a,b) => {
           if( new Date(a.date) > new Date(b.date))
           return 1;
           else return -1;
         })
      this.events = events;
      console.log(this.events);
    }
     });

     console.log(this.events);
  }
  public async mounted() {
    this.getEvent();
  }


}
</script>

<style scoped>
.list {
  margin: 0px 7% 0px 7%;
  height: 100vh;
}

.set-element {
  padding: 0 8%;
}
.inform {
  background-image: linear-gradient(to right, #02abb8, #23d4e0);
  height: 6rem;
  font-size: 1.7rem;
  color: white;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
.button-create {
  background-color: white;
  border: 1px solid #707070;
  color: #02abb8;
  border-radius: 0%;
}
.button-create:hover {
  color: #02abb8;
}
</style>
