<template>
  <div class="bg">
    <div class="container content">
      <div class="row">
        <div
          class="btn text-left back-button font-weight-bold back"
          @click="goToPreviousPage()"
        >&lt; Back</div>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="img-container">
          <img class="w-100 h-100" :src="eventData ? eventData.imageURL : ''" alt="event-pic">
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <div class="col-7">
          <div class="font-weight-bold event-name text-left">{{eventData.name}}</div>
        </div>
        <div class="col-4 d-flex">
          <button
            type="button"
            class="font-weight-bold btn btn-orange mr-2"
            data-toggle="modal"
            :data-target="eventStatus === 1 ? '#Payment' : !currentUser.id ? '#Login' :'#Reservation' "
            :hidden="currentUser.role === 'EventManager'"
            :disabled="eventStatus === 2"
          >{{textStatus[2-eventStatus]}}</button>

          <button
            type="button"
            class="font-weight-bold btn btn-orange ml-auto"
            @click="showModal = true"
          >Report Problems</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col d-flex lineheight-0 location align-items-center">
          <font-awesome-icon icon="calendar"/>
          <div class="pl-2 pr-3">{{new Date(eventData.date).toDateString()}}</div>
          <font-awesome-icon icon="map-marker"/>
          <div class="pl-2">{{eventData.location}}</div>
        </div>
      </div>
      <div class="row text-left mt-4">
        <div class="col-7">
          <div class="sub-title font-weight-bold mb-2">Detail</div>
          <div class="plain-text">{{eventData.detail}}</div>
        </div>
        <div class="col">
          <div class="sub-title font-weight-bold mb-2">Running type and registration fee</div>
          <div
            class="d-flex justify-content-between"
            v-for="e in eventData.feeList"
            :key="e.id"
            style
          >
            <div class="plain-text">{{e.description}}&nbsp;</div>
            <div class="plain-text">{{e.price}}&nbsp;THB</div>
          </div>
        </div>
      </div>
    </div>
    <PaymentModal :feeList="eventData.feeList" :eventId="eventId" @paid="paidReservedEvent()"/>
    <Reservation :feeList="eventData.feeList" :eventId="eventId" @reserved="reservedEvent()"/>
    <ReportEvent
      :event="eventData"
      @closeModal="showModal = false"
      v-if="showModal"
    />
  </div>
  <!-- detail of event ID : -->
  <!-- <span style="color:red;">{{this.$route.params.id}}</span> -->
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import EventService from "../shared/event-service";

import { Event, User } from "@/types";

import PaymentModal from "@/components/PaymentModal.vue";
import Reservation from "@/components/Reservation.vue";
import ReportEvent from '@/components/ReportEvent.vue';

@Component({
  components: { PaymentModal, Reservation, ReportEvent },
  props: {},
  beforeRouteEnter(to: any, from: any, next: any) {
    console.log("from", from);
    // this.$eventData.prevRoute = from;
    next({
      prevRoute: from
    });
  }
})
export default class EventDetail extends Vue {
  // eventData
  public prevRoute = "";
  public eventData: Event | null = null;
  public isLoading = false;
  public runnerId = "";
  public eventStatus = 0;
  public textStatus = ["Already Paid", "Go to pay", "Reserve"];
  public showModal = false;

  // data

  public data = {};
  public eventId = "";

  // mounted
  public async mounted() {
    console.log("easfasf", this.$route);
    const { id } = this.$route.query;
    if (typeof id === "number" || typeof id === "string") {
      this.eventId = id;
    }
    await EventService.getEventByID(id)
      .then(event => {
        if (event.data) {
          this.eventData = event.data;
          // console.log("event", this.eventData);
        }
      })
      .then(() => this.isReserved());
    if (this.currentUser.id) {
      this.runnerId = this.currentUser.id;
      // console.log("current", this.currentUser);
    }
    this.isReserved;
  }
  // method
  public goToPreviousPage() {
    // console.log(this.prevRoute);
    this.$router.push("/search");
  }

  public get currentUser(): User {
    return this.$store.getters.currentUser;
  }
  public isReserved(): void {
    console.log("sdfsdf");
    if (this.eventData) {
      EventService.getReservedEventByID(
        this.runnerId,
        this.eventData.id.toString()
      ).then(res => {
        console.log(res.data.length);
        if (res.data.length === 1) {
          console.log(res.data[0].isPaid ? 2 : 1);
          res.data[0].isPaid ? (this.eventStatus = 2) : (this.eventStatus = 1);
        } else this.eventStatus = 0;
      });
    }
  }
  public reservedEvent(): void {
    this.eventStatus = 1;
  }
  public paidReservedEvent(): void {
    this.eventStatus = 2;
  }
}
</script>

<style scoped>
.back-button:hover {
  transition: 200ms;
  color: rgb(255, 162, 21);
}
.img-container {
  width: 50%;
}
.event-name {
  font-size: 1.5em;
}
.sub-title {
  font-size: 1.2em;
}
.location {
  font-size: 1em;
}
.btn-orange {
  background-color: rgb(255, 162, 21);
  padding: 0 !important;
  width: 11em;
}
.btn-orange:hover {
  transition: 200ms;
  background-color: rgb(255, 147, 6);
  width: 11em;
}
.lineheight-0 {
  line-height: 1;
}
.bg {
  background-color: rgb(255, 206, 133);
  height: 100vh;
}
.content {
  background-color: white;
  height: 100vh;
}
@media (max-width: 375px) {
  .back {
    font-size: 0.8em;
  }
}
@media (max-width: 766px) {
  .btn-orange {
    font-size: 0.6em;
  }
  .event-name {
    font-size: 1em;
  }
  .sub-title {
    font-size: 0.7em;
  }
  .plain-text {
    font-size: 0.6em;
  }
  .location {
    font-size: 0.7em;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .btn-orange {
    font-size: 0.8em;
  }
  .event-name {
    font-size: 1.2em;
  }
  .sub-title {
    font-size: 0.9em;
  }
  .plain-text {
    font-size: 0.8em;
  }
  .location {
    font-size: 0.9em;
  }
}
</style>

