<template>
  <div class="home container mt-5">
    <div class="row title">
      <div class="col">Highlight Running Events</div>
    </div>
    <div class="row">
      <div class="col detail">Coming Soon...!</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import EventCard from '@/components/EventCard.vue';
import apiService from '@/shared/api-service';

@Component({
  components: {},
})
export default class Home extends Vue {
  public mounted() {
    this.$router.push('/search');
  }
}
</script>

<style scoped>
.title {
  font-size: 3rem;
}

.detail {
  font-size: 2rem;
}
</style>
