<template>
  <div>
    <div
      class="banner mt-5"
      :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}"
    >Payment Transaction</div>
    <div class="account mt-3 d-flex flex-row align-items-center">
      <font-awesome-icon class icon="credit-card" style="width:50px;height:50px"/>
      <span class="ml-3">Account : {{creditId}}</span>
    </div>
    <Table :paymentData="paymentData"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PersonalDetail from "@/components/PersonalDetail.vue";
import userService from "@/shared/user-service";
import Table from "@/components/Table.vue";
import { UserData, PaymentLists, PaymentDetail } from "@/types";
import VueSweetalert2 from "vue-sweetalert2";
import AvatarUpload from "@/components/AvatarUpload.vue";
import eventService from '../shared/event-service';

@Component({
  components: {
    Table
  },
  props: {}
})
export default class EditProfile extends Vue {
  // data
  creditId = "1234-5678-90";
  paymentData: PaymentDetail[] = []
  role = ''
  userId = ''
  // mounted
  public mounted() {
    console.log(this.$store.getters.currentUser);
    const {id,role} = this.$store.getters.currentUser
    this.role = role
    this.userId = id
    const temp:any ={
      EventManager:'eventManagerId',
      Runner:'runnerId'
    }
    eventService.getPayment(temp[this.role],this.userId).then(res => {
      console.log(res.data);
      if(res.data){
        const {data} = res


        const filters = data.filter( (transaction:any) => {
          if(transaction.isPaid){ return transaction}
        })


        this.paymentData = filters.map((transaction:any) => {
          const temp:PaymentDetail = {
            date: new Date(transaction.updatedAt),
            TransactionId: transaction.history.id,
            EventName: transaction.event.name,
            RunnerName: transaction.runner.id,
            Amount: transaction.fee.price,
            Type: "Registration Fee"
          }
          return temp
        })

      }

    })

  }
}

</script>

<style scoped>
.banner {
  text-align: left;
  padding-left: 100px;
  padding-top: 30px;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  padding-bottom: 30px;
}
.event-manager {
  background-color: rgb(81, 177, 189);
}
.runner {
  background-color: rgb(255, 162, 21);
}

.account {
  text-align: left;
  padding-left: 100px;
  font-size: 1.5rem;
}
</style>
