<template>
  <div class>
    <div class="d-flex align-items-center justify-content-between inform mb-5 pl-5 pr-5">
      <div class>
        <b>My Reservations</b>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-1 mr-3 align-items-center">
        <span class="set-element">Date</span>
      </div>
      <div class="col-10 row">
        <span class="set-element col-4">Name</span>
        <span class="set-element col-3">Running Type</span>
        <span class="set-element col-1">Shirt Size</span>
      </div>
    </div>
    <div
      class="mb-3 mt-3"
      v-for="reservation in reservations"
      :key="reservation.event.id + reservation.runner.id"
    >
      <ReservationBox :reservation="reservation" @cancel="onCancelClicked" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ReservationBox from '@/components/ReservationBox.vue';
import { RegistrationTransaction } from '../types';
import reservationService from '@/shared/reservation-service';
import ReportProblem from '@/components/ReportProblem.vue';

@Component({
  components: {
    ReservationBox,
    ReportProblem,
  },
})
export default class ReservationLists extends Vue {

  public reservations: RegistrationTransaction[] = [];
  public toDeleteReservation: RegistrationTransaction | {} = {};

  public async getUserTransaction() {
    try {
      const reservations = await reservationService.getUserTransaction();
      this.reservations = reservations;
      console.log("RE: ", reservations);
    } catch (error) {
      this.reservations = [];
    }
    console.log(this.reservations);
  }

  public onCancelClicked(reservation: RegistrationTransaction) {
    this.toDeleteReservation = reservation;
  }

  public async mounted() {
    this.getUserTransaction();
  }

}
</script>

<style scoped>
.list {
  margin: 0px 7% 0px 7%;
  height: 100vh;
}
.inform {
  background-image: linear-gradient(to right, rgb(255, 162, 21),  rgb(255, 186, 83));
  height: 6rem;
  font-size: 1.7rem;
  color: white;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
</style>
