<template>
  <div class="result">
    <div class="row">
      <div class="col">
        <div class="inform d-flex align-content-center align-items-center pl-2 mt-2">We've found
          <div class="event">&nbsp;{{events.length}} events&nbsp;</div>for you.
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <filter-box :options="options" @updateFilter="updateFilter"/>
      <search-bar @searchEvents="searchEvents"/>
    </div>
    <div class="row mb-5">
      <div class="col-lg-4 col" v-for="event in events" :key="event.id" style>
        <event-card :info="event"/>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';
import EventCard from '@/components/EventCard.vue';
import FilterBox from '@/components/FilterBox.vue';
import SearchBar from '@/components/SearchBar.vue';
import { Filter, GroupFilter, Event } from '../types/';
import SearchService from '@/shared/search-service';

@Component({
  components: {
    'event-card': EventCard,
    'filter-box': FilterBox,
    'search-bar': SearchBar,
  },
})
export default class Search extends Vue {
  // data
  public search: string | string[] = '';
  public events: Event[] = [];
  public value = [];
  public options: GroupFilter[] = [];
  // mounted
  public mounted() {
    const input = this.$route.query.search;
    this.search = input;
    this.searchEvents(input);
    this.getFilters();
  }

  // method
  public updateFilter(value: any) {
    this.value = value;
  }

  public async getFilters() {
    const res = await SearchService.getFilter();
    if (res.data) {
      const types = await res.data.map((type: any) => {
        return {
          name: type.name,
          category: type.name,
        };
      });
      const filters = {
        language: 'Type',
        libs: types,
      };
      this.options.push(filters);
    }
  }
  public async searchEvents(input: string | string[]) {
    let tempFilters: string[] = [];
    if (this.value.length != 0) {
      tempFilters = this.value.map((filter: Filter) => {
        return filter.name;
      });
    }
    const data = {
      search: input,
      filters: tempFilters,
    };
    const res = await SearchService.searchEvent(data);
    if (res.data) {
      this.events = res.data;
    }
  }

  // -----
}
</script>

<style scoped>
.result {
  margin: 0px 7% 0px 7%;
  height: 100vh;
}
.inform {
  text-align: left;
  background-image: linear-gradient(
    to right,
    rgb(255, 162, 21),
    rgb(255, 218, 178)
  );
  font-weight: 500;
  height: 3rem;
  font-size: 1rem;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
.inform:hover {
}

.event {
  font-weight: 850;
}
</style>
