<template>
    <div>
        <div class="d-flex align-items-center justify-content-between inform mb-5 pl-5 pr-5">
            <b>View participants</b>
        </div>
        <div class = "d-flex justify-content-between align-items-center m-5">
            <div >
                <span class = "pr-5">Event : {{this.form.name}}</span>   Status: <span :class="{ 'red' : participants.length>=200 , 'green' : participants.length<200}">{{participants.length}}/200</span>
            </div>

            <!-- <div class = "d-flex flex-row align-items-center">
                <input type="text" class= "form-control mr-2" placeholder="Search Participant"> 
                <font-awesome-icon class="search-icon" icon="search" @click="searchEvent()" style="width:1.5 rem;height:1.5 rem;cursor:pointer;"/>
            </div> -->
        </div>
        <div class="row d-flex ml-5 mr-5 header">
            <div class="col-1 line">No.</div>
            <div class="col-2 line">First Name</div>
            <div class="col-2 line">Last Name</div>
            <div class="col-1 line">Payment Method</div>
            <div class="col-2 line">Running Type</div>
            <div class="col-1 line">Status</div>
            <div class="col-2 line">Reservation Date</div>
            <div class="col-1 ">Remove</div>
        </div>
        <div  v-for ="(participant,index) in participants" :key="participant.id" >
            <ParticipantBox :info="participant" :index="index"></ParticipantBox>
        </div>

    </div>
</template>
<script lang="ts">
import { Component, Vue ,Prop} from 'vue-property-decorator';
import ParticipantBox from '@/components/ParticipantBox.vue'
import { UserData } from '../types/'
import EventFormDate from '@/components/Form/EventFormDate.vue';
import Banner from '@/components/Banner.vue';
import EventFormInput from '@/components/Form/EventFormInput.vue';
import EventRegistrationFee from '@/components/Form/EventRegistrationFee.vue';
import EventFormTextArea from '@/components/Form/EventFormTextArea.vue';
import EventFormTypeSelect from '@/components/Form/EventFormTypeSelect.vue';
import EventImageInput from '@/components/Form/EventImageInput.vue';import eventService from '@/shared/event-service.ts';
import { RegistrationFee, EventManageForm, User, HTTP_STATUS_OK } from '@/types';
import EventService from '@/shared/event-service';
@Component({
  components: {
    ParticipantBox,
  }
 
})
export default class viewParticipant extends Vue{
@Prop({ default: '' }) public id!: string;

  

  public form = {
    name: '',
    location: '',
    date: '',
    detail: '',
    type: '',
    isRegister: true,
    imageUrl: '',
  };

    // public participants : UserData[] = [
    //     {
    //         bankAccount: '1234',
    //         bankAccountNumber: '1234',
    //         birthDate: new Date(2018, 11, 11).toString(),
    //         firstname: 'Kamolnadda',
    //         gender: 'Female',
    //         id: '1',
    //         idCardNumber: '1103900028556',
    //         lastname: 'Dansuputra',
    //         password: '4123',
    //         phoneNumber: '0882495154',
    //         role: 'Runner'
    //     },
    //       {
    //         bankAccount: '1234',
    //         bankAccountNumber: '1234',
    //         birthDate: new Date(2018, 11, 11).toString(),
    //         firstname: 'Chanissa',
    //         gender: 'Female',
    //         id: '2',
    //         idCardNumber: '1103900028556',
    //         lastname: 'Tritipkaiwalporn',
    //         password: '4123',
    //         phoneNumber: '0882495154',
    //         role: 'Runner'
    //     },
    //       {
    //         bankAccount: '1234',
    //         bankAccountNumber: '1234',
    //         birthDate: new Date(2018, 11, 11).toString(),
    //         firstname: 'Nutchanon',
    //         gender: 'Female',
    //         id: '3',
    //         idCardNumber: '1103900028556',
    //         lastname: 'ployplay',
    //         password: '4123',
    //         phoneNumber: '0882495154',
    //         role: 'Runner'
    //     },
    //       {
    //         bankAccount: '1234',
    //         bankAccountNumber: '1234',
    //         birthDate: new Date(2018, 11, 11).toString(),
    //         firstname: 'Pepe',
    //         gender: 'Female',
    //         id: '4',
    //         idCardNumber: '1103900028556',
    //         lastname: 'Witchayut',
    //         password: '4123',
    //         phoneNumber: '0882495154',
    //         role: 'Runner'
    //     },
    //       {
    //         bankAccount: '1234',
    //         bankAccountNumber: '1234',
    //         birthDate: new Date(2018, 11, 11).toString(),
    //         firstname: 'Cat',
    //         gender: 'Female',
    //         id: '5',
    //         idCardNumber: '1103900028556',
    //         lastname: 'Nattawan',
    //         password: '4123',
    //         phoneNumber: '0882495154',
    //         role: 'Runner'
    //     }
    // ]


    private formatDate(date: Date) {
    const d = new Date(date);
    let month = '' + (d.getMonth() + 1);
    let day = '' + d.getDate();
    const year = d.getFullYear();

    if (month.length < 2) {
      month = '0' + month;
    }
    if (day.length < 2) {
      day = '0' + day;
    }
    return [year, month, day].join('-');
  }
    public async fetchData() {
    console.log('id')
    console.log(this.id)
    const response = await eventService.getEventByID(this.id);
    console.log('response')
    console.log('id')
    

    console.log(response)
    if (!response.data) {
      return;
    }
    const event = response.data;
    this.form.imageUrl = event.imageURL;
    this.form.name = event.name;
    this.form.location = event.location;
    this.form.date = this.formatDate(event.date);
    this.form.detail = event.detail;
    this.form.isRegister = event.isRegister;
    this.form.type = event.type;
  }
  public created() {
    this.fetchData();
  }

  public participants : any[] | null=null;

  public async getTransaction() {
     EventService.getTransactionById(this.id).then((res) => {
       console.log('res', res);
       if (res.data) {
         const data = res.data
         console.log('datajaaa', data);
         this.participants = data;
       }});
       
  }

  public async mounted() {
    this.getTransaction();
  }
 
}
</script>

<style scoped>
.inform {
  background-image: linear-gradient(to right, #02abb8, #23d4e0);
  height: 6rem;
  font-size: 1.7rem;
  color: white;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
.header{
    background-color: #23d4e0;
    color: white;
    border: 1px solid black;
}
.line{
    border-right: 1px solid black;
}
.red{
  color: red;
}
.green{
  color:green;
}

</style>

