<template>
  <div class="example-avatar">
    <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
      <h3>Drop files to upload</h3>
    </div>
    <div class="avatar-upload" v-show="!edit">
      <div class="text-center p-2">
        <label for="avatar">
          <img
            :src="profileImage"
            class="rounded-circle"
          >
        </label>
      </div>
      <div class="text-center p-2">
        <file-upload
          extensions="gif,jpg,jpeg,png,webp"
          accept="image/png, image/gif, image/jpeg, image/webp"
          name="avatar"
          class="btn btn-primary"
          post-action="/upload/post"
          :drop="!edit"
          v-model="files"
          @input-filter="inputFilter"
          @input-file="inputFile"
          ref="upload"
        >Upload avatar</file-upload>
      </div>
    </div>

    <div class="avatar-edit" style="width:100%;height:100%;" v-show="files.length && edit">
      <div class="avatar-edit-image" v-if="files.length">
        <img ref="editImage" style="width:500px;height:500px;" :src="files[0].url">
      </div>
      <div class="text-center p-4 tool">
        <button type="button" class="btn btn-secondary" @click.prevent="$refs.upload.clear">Cancel</button>
        <button type="submit" class="btn btn-primary" @click.prevent="editSave">Save</button>
      </div>
    </div>
  </div>
</template>
<script>
import Cropper from "cropperjs";
import { Component, Vue, Prop } from "vue-property-decorator";
import FileUpload from "vue-upload-component";
import 'cropperjs/dist/cropper.css';

@Component({
  components: {
    "file-upload": FileUpload
  },
  props: {
    imageURL: '',
  },
  watch: {
    edit(value) {
      if (value) {
        this.$nextTick(function() {
          if (!this.$refs.editImage) {
            return;
          }
          let cropper = new Cropper(this.$refs.editImage, {
            aspectRatio: 1 / 1,
            viewMode: 1
          });
          this.cropper = cropper;
        });
      } else {
        if (this.cropper) {
          this.cropper.destroy();
          this.cropper = false;
        }
      }
    }
  }
})
export default class AvatarUpload extends Vue {
  // data
  files = [];
  edit = false;
  cropper = false;
  // method
  editSave() {
    this.edit = false;
    let oldFile = this.files[0];
    let binStr = atob(
      this.cropper
        .getCroppedCanvas()
        .toDataURL(oldFile.type)
        .split(",")[1]
    );
    let arr = new Uint8Array(binStr.length);
    for (let i = 0; i < binStr.length; i++) {
      arr[i] = binStr.charCodeAt(i);
    }
    let file = new File([arr], oldFile.name, { type: oldFile.type });
    this.$emit('file', file);
    this.$refs.upload.update(oldFile.id, {
      file,
      type: file.type,
      size: file.size,
      active: true
    });
  }
  alert(message) {
    alert(message);
  }
  inputFile(newFile, oldFile, prevent) {
    if (newFile && !oldFile) {
      this.$nextTick(function() {
        this.edit = true;
      });
    }
    if (!newFile && oldFile) {
      this.edit = false;
    }
  }
  inputFilter(newFile, oldFile, prevent) {
    if (newFile && !oldFile) {
      if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
        this.alert("Your choice is not a picture");
        return prevent();
      }
    }
    if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
      newFile.url = "";
      let URL = window.URL || window.webkitURL;
      if (URL && URL.createObjectURL) {
        newFile.url = URL.createObjectURL(newFile.file);
      }
    }
  }
  get profileImage() {
    if (this.files.length) {
      return this.files[0].url;
    } else if (this.imageURL) {
      return this.imageURL;
    }
    return 'https://www.gravatar.com/avatar/default?s=200&r=pg&d=mm';
  }
}
</script>

<style>
.example-avatar .avatar-upload .rounded-circle {
  width: 200px;
  height: 200px;
}
.example-avatar .text-center .btn {
  margin: 0 0.5rem;
}
.example-avatar .avatar-edit-image {
  max-width: 100%;
}
.tool {
  background-color: grey;
}
.example-avatar .avatar-edit {
  position: absolute;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5%;
  


}
.example-avatar .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.6;
  text-align: center;
  background: #000;
}
.example-avatar .drop-active h3 {
  margin: -0.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
</style>
