<template>
  <div class="banner">
    <h3 class="header">{{text}}</h3>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Banner extends Vue {
  @Prop(String) public text!: string;
  @Prop(String) public leftColor!: string;
  @Prop(String) public rightColor!: string;
}
</script>

<style scoped>
.banner {
  height: 88px;
  background-image: linear-gradient(to right, #02abb8, #23d4e0);
  color: white;
}

.header {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  padding-left: 50px;
  text-align: left;
}
</style>
