<template>
  <div class="card card-event pointer" style="margin-top:3%;" @click="thisEventDetail()">
    <img class="card-img-top card-event-img" :src="info.imageURL" alt="Card image cap">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-title title-name text-truncate">{{info.name}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row info">
              <div class="card-icon">
                <font-awesome-icon icon="calendar" style="width:100%;height:100%"/>
              </div>
              <div class="col">
                <div class="card-text-info">{{new Date(info.date).toDateString()}}</div>
              </div>
            </div>
            <div class="row info">
              <div class="card-icon">
                <font-awesome-icon icon="map-marker" style="width:100%;height:100%"/>
              </div>
              <div class="col-10">
                <div class="card-text-info text-truncate">{{info.location}}</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row info">
              <div class="card-icon">
                <font-awesome-icon icon="book" style="width:100%;height:100%"/>
              </div>
              <div class="card-text-info col">
                <div>
                  Status :
                  <span style="color:green;" v-if="info.isRegister">Open</span>
                  <span style="color:red;" v-else>Close</span>
                </div>
              </div>
            </div>
            <div class="row info">
              <div class="card-icon">
                <font-awesome-icon icon="dollar-sign" style="width:100%;height:100%"/>
              </div>
              <div class="card-text-info col">
                <div>Fee : {{info.minFee}} - {{info.maxFee}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  props: {
    info: Object,
  },
})
export default class EventCard extends Vue {
  // Method
  public thisEventDetail() {
    console.log(this.$props.info.id);
    const { id } = this.$props.info;
    this.$router.push({ name: 'event', params: { id }, query: { id } });
  }
}
</script>

<style scoped>
.info {
  margin-top: 20px;
}
.card-text-info {
  text-align: left;
}
@media screen and (min-width: 100px) and (max-width: 500px) {
  .card-event {
    width: 20rem;
    font-size: 12px;
  }
  .card-event-img {
    width: 318px;
    height: 200px;
  }
  .card-icon {
    width: 12px;
    height: 12px;
  }
}
@media screen and (min-width: 500px) and (max-width: 2000px) {
  .card-event {
    width: 25rem;
  }
  .card-event-img {
    width: 398px;
    height: 250px;
  }
  .card-icon {
    width: 20px;
    height: 20px;
  }
}
.pointer {
  cursor:pointer;
}
</style>
