<template>
  <div
    class="modal fade"
    id="EventManagerRegistration"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">
            <b>Event Manager Registration</b>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            @click="clear"
            aria-label="Close"
            ref="closeModal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-inputs">
              <div class="form-group">
                <div class="text-left font-weight-bold">ID</div>
                <input
                  class="form-control"
                  type="text"
                  name="id"
                  id="id_event"
                  v-model="id"
                  v-validate="validationRule.id"
                >
                <span class="invalid-feedback">{{ errors.first('id') }}</span>
              </div>

              <div class="form-group">
                <div class="text-left font-weight-bold">Password</div>
                <input
                  class="form-control"
                  autocomplete="new-password"
                  type="password"
                  name="password"
                  id="password_event"
                  v-model="password"
                  ref="password"
                  v-validate="validationRule.password"
                >
                <span class="invalid-feedback">{{ errors.first('password') }}</span>
              </div>
              <div class="form-group">
                <div class="text-left font-weight-bold">Confirm password</div>
                <input
                  class="form-control"
                  autocomplete="new-password"
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword_event"
                  v-model="confirmPassword"
                  v-validate="validationRule.confirmPassword"
                >
                <span class="invalid-feedback">{{ errors.first('confirmPassword') }}</span>
              </div>

              <div class="form-group">
                <div class="text-left font-weight-bold">First name</div>
                <input
                  class="form-control"
                  autofocus="autofocus"
                  type="text"
                  name="firstname"
                  id="firstname_event"
                  v-model="firstname"
                  v-validate="validationRule.firstname"
                >
                <span class="invalid-feedback">{{ errors.first('firstname') }}</span>
              </div>
              <div class="form-group password">
                <div class="text-left font-weight-bold">Last name</div>
                <input
                  class="form-control"
                  type="text"
                  name="lastname"
                  id="lastname_event"
                  v-model="lastname"
                  v-validate="validationRule.lastname"
                >
                <span class="invalid-feedback">{{ errors.first('lastname') }}</span>
              </div>
              <div class="form-group password">
                <div class="text-left font-weight-bold">ID card</div>
                <input
                  class="form-control"
                  type="text"
                  name="IDCard"
                  id="IDCard_event"
                  v-model="idCardNumber"
                  v-validate="validationRule.idCardNumber"
                >
                <span class="invalid-feedback">{{ errors.first('IDCard') }}</span>
              </div>
              <div class="form-group password">
                <div class="text-left font-weight-bold">Bank account</div>
                <input
                  class="form-control"
                  type="text"
                  name="bankAccount"
                  id="bankAccount"
                  v-model=" bankAccount"
                  v-validate="validationRule.bankAccount"
                >
                <span class="invalid-feedback">{{ errors.first('bankAccount') }}</span>
              </div>
              <div class="form-group password">
                <div class="text-left font-weight-bold">Bank account no.</div>
                <input
                  class="form-control"
                  type="text"
                  name="bankAccountNumber"
                  id="bankAccountNumber"
                  v-model="bankAccountNumber"
                  v-validate="validationRule.bankAccountNumber"
                >
                <span class="invalid-feedback">{{ errors.first('bankAccountNumber') }}</span>
              </div>
              <div class="form-group password">
                <div class="text-left font-weight-bold">Phone number</div>
                <input
                  class="form-control"
                  type="text"
                  name="phone_number"
                  id="phone_number_event"
                  v-model="phoneNumber"
                  v-validate="validationRule.phoneNumber"
                >
                <span class="invalid-feedback">{{ errors.first('phone number') }}</span>
              </div>
              <div>
                <div class="form-group password">
                  <div class="text-left font-weight-bold">Birthdate</div>
                  <input
                    class="form-control"
                    type="text"
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')"
                    name="BirthDate"
                    id="BirthDate_event"
                    v-model="birthDate"
                    v-validate="validationRule.birthDate"
                  >
                <span class="invalid-feedback">{{ errors.first('BirthDate') }}</span>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="radio1"
                    name="radio1"
                    class="custom-control-input"
                    value="Male"
                    @click="onGenderChange"
                    v-validate="validationRule.gender"
                  >
                  <label class="custom-control-label" for="radio1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="radio2"
                    name="radio1"
                    class="custom-control-input"
                    value="Female"
                    @click="onGenderChange"
                    v-validate="validationRule.gender"
                  >
                  <label class="custom-control-label" for="radio2">Female</label>
                </div>
              </div>
              <br>
            </div>

            <div class="d-flex justify-content-between form-actions">
                <button
                  type="button"
                  class="btn btn-primary lg_button inline"
                  data-toggle="modal"
                  data-target="#Login"
                  data-dismiss="modal"
                  @click="clear">
                  Back
                </button>
                <button
                  type="button"
                  class="btn btn-primary lg_button inline"
                  @click="SignUp"
                  :disabled="isSubmitDisabled">
                  Sign Up
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
import userService from '@/shared/user-service';
import { EventManagerRegistrationForm } from '@/types/form';
import { Component, Mixins } from 'vue-mixin-decorator';
import UserFormValidation from '@/mixins/UserFormValidation';
import VueSweetalert2 from 'vue-sweetalert2';
import NormalFormList from '@/components/Form/NormalFormList.vue';

@Component({
  props: {},
})
export default class EventManagerRegistration extends Mixins<UserFormValidation>(UserFormValidation) {
  public id = '';
  public password = '';
  public firstname = '';
  public lastname = '';
  public idCardNumber = '';
  public phoneNumber = '';
  public birthDate = '';
  public gender = '';
  public bankAccount = '';
  public bankAccountNumber = '';
  public confirmPassword = '';
  public invalidPassword = false;
  public async SignUp() {
    await this.$validator.validateAll();
    if (this.isSubmitDisabled) {
      return;
    }
    userService
      .createEventManager({
        id: this.id,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname,
        idCardNumber: this.idCardNumber,
        phoneNumber: this.phoneNumber,
        birthDate: new Date(this.birthDate).toISOString(),
        gender: this.gender,
        bankAccount: this.bankAccount,
        bankAccountNumber: this.bankAccountNumber,
      })
      .then(() => {

        this.succesAlert();
      })
      .catch(() => {
        this.failAlert();
      });
  }

  public onGenderChange(event: any) {
    this.gender = event.target.value;
  }

  public clear() {
    this.id = '';
    this.password = '';
    this.firstname = '';
    this.lastname = '';
    this.idCardNumber = '';
    this.phoneNumber = '';
    this.birthDate = '';
    this.gender = '';
    this.confirmPassword = '';
    this.invalidPassword = false;
    this.bankAccount = '',
    this.bankAccountNumber = '';
    this.$validator.reset();
  }
  public succesAlert() {
    const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    closeButton.click();
    const config = {};
    this.$swal({
      type: 'success',
      title: 'Success',
      text: 'SignUp complete !',
    });
  }

   public failAlert() {
    const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    closeButton.click();
    const config = {};
    this.$swal({
      type: 'error',
      title: 'fail',
      text: 'SignUp fail !',
    });
  }


}
</script>

<style scoped>
.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}
.lg_button {
  background: white !important;
  border: 1px solid #000000 !important;
  color: black !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: transparent !important;
}

.modal-content {
  border-radius: 0px !important;
  padding: 1rem !important;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn:hover:enabled {
  background-color: black !important;
  color: white !important;
  text-decoration: none !important;
}

.modal {
  overflow-y: auto;
}
body.modal-open {
  overflow: hidden;
}

.inline {
  display: inline;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
}
.form-group {
  margin-bottom: 10px !important;
}
.close:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>