<template>
  <div class="row pl-5">
    <div class="col-1 date-box mr-3 d-flex flex-column justify-content-center">
      <div class>
        <h3>{{new Date(info.date).getDate()}}</h3>
      </div>
      <div class>
        {{monthsName [new Date(info.date).getMonth()]}}
        {{new Date(info.date).getFullYear()}}
      </div>
    </div>
    <div class="col-10 p-3 box row d-flex align-items-center justify-content-center">
      <span class="col-3">
        <div class="row">
          <div class="col name">{{info.name}}</div>
        </div>
        <div class="row">
          <div class="col location text-truncate">
              <i class="fas fa-map-marker-alt"></i>
              {{info.location}}</div> 
        </div>
      </span>
      <span class="set-element col-2">
        <span style="color:green;" v-if="participants.length<200">Open</span>
        <span style="color:red;" v-else>Close</span>
      </span>
      <span class="set-element col-2 ">
        <span :class="{ 'red' : participants.length>=200 , 'green' : participants.length<200}">{{participants.length}}/200</span>
      </span>
      <div class="col-1"></div>
      <div class="col-4">
        <span>
          <router-link :to="`/event/participant/${info.id}`">
          <button type="button" class="btn button-view">View Participant</button>
          </router-link>
        </span>
        
        <span>
          <router-link :to="`/event/edit/${info.id}`">
            <button type="button" class="btn button-edit">Edit Event</button>
          </router-link>
        </span>
      </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <div class="trash-bg d-flex align-items-center justify-content-center">
        <button class="btn" @click="Delete">
          <font-awesome-icon class="center trash-icon d-flex align-items-center justify-content-center" icon="trash" style="width:100%;height:100%"/>
        </button>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VueSweetalert2 from 'vue-sweetalert2';
import eventService from '../shared/event-service';

@Component({
  props: {
    info: Object,
  },
})
export default class Eventbox extends Vue {
  public monthsName = [
    'JAN',
    'FEB',
    'MAR',
    'APR',
    'MAY',
    'JUN',
    'JULY',
    'AUG',
    'SEB',
    'OCT',
    'NOV',
    'DEC',
  ];

  public remove(){
    eventService.removeEvent(this.$props.info.id).then(res => {
      console.log(res);
    })
  }
  public Delete() {
    this.$swal({
      title: 'Are you sure you want to delete this event?',
      text: 'You will lost all information about this event.',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: ' Delete ',
      reverseButtons: true,
      inputClass: 'swal2-icon swal2-warning swal2-animate-warning-ico',

    }).then((result) => {
      if (result.value) {
          this.remove();
          history.go(0);
      }
    });
  }
  public participants : any[] | null=null;

  public async getTransaction() {
     eventService.getTransactionById(this.$props.info.id).then((res) => {
       console.log('res', res);
       if (res.data) {
         const data = res.data
         console.log('datajaaa', data);
         this.participants = data;
       }});
       
  }

  public async mounted() {
    this.getTransaction();
  }
}
</script>
<style scoped>
.trash-bg {
  background-color: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.trash-icon {
  color: white;
}
.box {
  border: 1px solid #707070;
}
.date-box {
  border: transparent;
  border-left: 3px solid #04adba;
}
.set {
  margin-bottom: 5%;
}
.set-element {
  padding: 0 8%;
}

.center {
  padding: 50% 0;
}
.name {
  font-size: 18px;
  text-align: left;
}
.button-view {
  border: 1px solid #707070;
  margin-right: 5px;
  border-radius: 0%;
}

.button-edit {
  background-color: #02abb8;
  color: white;
  border-radius: 0%;
}
.button-edit:hover {
  color: white;
}
.location {
  font-size: 11px;
  text-align: left;
}
.swal2-icon.swal2-warning.swal2-animate-warning-icon{
    border-color: #e40f0f ;
    color: #f01212 ;
}
.red{
  color:red;
}

.green{
  color:green;
}
</style>
