<template>
<div class="col mt-2">
    <div class="d-flex align-items-center mr-3 flex-grow-1">
      <div class="mr-3">Filter:</div>
      <div class="flex-grow-1">
        <div>
          <multiselect
            v-model="value"
            :options="options"
            :multiple="true"
            :close-on-select="false"
            group-values="libs"
            group-label="language"
            :group-select="true"
            placeholder="Select type of events"
            track-by="name"
            label="name"
            :searchable="false"
            @input="test()"
          ></multiselect>
        </div>
      </div>
  </div>

</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MultiSelect from 'vue-multiselect';
import 'vue-multiselect/dist/vue-multiselect.min.css';

@Component({
  components: {
    multiselect: MultiSelect,
  },
  props: {
    options: Array,
  },
})
export default class FilterBox extends Vue {
  // data
  public value = [];
  // method
  public test() {
    this.$emit('updateFilter', this.value);
  }
}
</script>

<style >
@media(max-width: 375px) {
  .multiselect {
    width: 16rem;
  }
}

.multiselect__tag{
  background-color: rgb(255, 162, 21);
  color: black;
}
</style>
