<template>
  <nav class="navbar navbar-expand-lg navbar-light x d-flex">
    <div class="bd-highlight mr-5" style="cursor:pointer;" @click="goToHome()">
      <img class="navbar-brand" src="../assets/logo.png" alt style="width:9rem">
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto" v-if="this.$route.path !== '/search'">
        <SearchBox/>
      </div>
      <div class="mr-auto" v-else></div>
      <!-- <div class="p-4 bd-highlight main-btn btn-2">
        <span class="udl" >Home</span>
      </div>-->
      <div class="p-2 bd-highlight"></div>
      <!-- <router-link to= "/eventlist"> <span class="udl bd-highlight main-btn" > Event Lists</span> </router-link> -->
      <UserDropDownMenu />
    </div>
    <Login/>
    <RunnerRegistration/>
    <EventManagerRegistration/>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SearchBox from './SearchBox.vue';
import Login from './Login.vue';
import RunnerRegistration from './RunnerRegistration.vue';
import EventManagerRegistration from './EventManagerRegistration.vue';
import UserDropDownMenu from './UserDropDownMenu.vue';
import { User } from '@/types';
import { LOGOUT } from '@/store/actions-type';
import VueSweetalert2 from 'vue-sweetalert2';

@Component({
  props: {},
  components: {
    SearchBox,
    Login,
    RunnerRegistration,
    EventManagerRegistration,
    UserDropDownMenu,
  },
})
export default class Header extends Vue {
  // method
  public goToHome() {
    this.$router.push('/');
  }
}
</script>

<style scoped>
.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(187, 187, 187);
}

nav a.router-link-exact-active {
  color: #42b983;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active.router-link-active {
  color: #42b983;
}

</style>
