<template>
  <div
    class="modal fade"
    id="Login"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    ref="modal"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <b>Log in</b>
          </h5>
          <button type="button" @click="clear" class="close no-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form v-on:submit.prevent="login">
            <div class="form-inputs">
              <div class="form-group email optional user_email input-group">
                <i class="fas fa-user g d-flex align-items-end mr-2"></i>
                <input
                  ref="loginField"
                  class="form-control name"
                  autofocus="autofocus"
                  placeholder="ID"
                  name="id"
                  type="text"
                  v-model="id"
                  v-validate="validationRule.id"
                >
              </div>
              <span class="is-invalid-message">{{ errors.first('id') }}</span>
              <div class="form-group password optional user_password input-group">
                <i class="fas fa-unlock g d-flex align-items-end mr-2"></i>
                <input
                  class="string password optional form-control name"
                  placeholder="Password"
                  autocomplete="current-password"
                  name="password"
                  type="password"
                  v-model="password"
                  v-validate="validationRule.password"
                >
              </div>
              <span class="is-invalid-message">{{ errors.first('password') }}</span>
            </div>
            <div class="form-actions">
              <p class="text-right">
                <button @click="login"   class="btn lg_button" data-dismiss="modal" :disabled="this.isSubmitDisabled">
                  <b>Log in</b>
                </button>
              </p>

              <hr class="hr-new">

              <div class="text-center">
                <label for>Not a member? Register now</label>
                <br>

                <button
                  @click="clear"
                  class="show-signup btn lg_button btn-runner"
                  id="reRunner"
                  data-toggle="modal"
                  data-target="#RunnerRegistration"
                  data-dismiss="modal"
                >Register as Runner</button>
                <button
                  @click = "clear"
                  class="show-signup btn lg_button btn-event"
                  id="reEventmanager"
                  data-toggle="modal"
                  data-target="#EventManagerRegistration"
                  data-dismiss="modal"
                >Register as EventManager</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
import { LOGIN } from '@/store/actions-type';
import { Component, Mixins } from 'vue-mixin-decorator';
import UserFormValidation from '@/mixins/UserFormValidation';
import VueSweetalert2 from 'vue-sweetalert2';

@Component({
  props: {},
})
export default class SignIn extends Mixins<UserFormValidation>(UserFormValidation) {
  public id = '';
  public password = '';
  public clear() {
    this.id = '';
    this.password = '';

  }
  public async login() {

    await this.$validator.validateAll();
    if (this.isSubmitDisabled) {
      return;
    }
    this.$store
      .dispatch(LOGIN, { id: this.id, password: this.password })
      .then((res) => {
        this.$swal({
          type: 'success',
          title: `Welcome ${res.id}`,
          text: `Log in successfully!`,
          onClose: () => {this.clear();document.location.reload()},
        });
      })
      .catch((error) => {
        this.$swal({
          type: 'error',
          title: 'Error',
          text: 'Login fail',
        });
      });




  }


}
</script>

<style scoped>
#reRunner {
  display: inline !important;
  margin: 5px;
}

#reEventmanager {
  display: inline !important;
  margin: 5px;
}
.g {
  font-size: 25px;
}

.name {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  padding-bottom: 0px;
}
.lg_button {
  background: white;
  border: 1px solid #000000;
  color: black;
  border-radius: 0px;
  display: inline;
}
.lg_button:hover {
  background-color: black;
}

.modal-header {
  border-bottom: transparent;
}

.modal-content {
  border-radius: 0px;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn-runner:hover {
  background-color: rgb(239, 171, 98);
}
.btn-event:hover {
  background-color: rgb(81, 177, 189);
}
.btn:hover:enabled {
  text-decoration: none;
  color: white;
}

.styletd {
  margin: 2px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  border-color: rgb(255, 162, 21);
}
.no-outline {
  outline: none;
}
.btn:focus {
  -webkit-box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.fa-user {
  color: rgb(255, 162, 21);
}

.fa-unlock {
  color: rgb(255, 162, 21);
}

.is-invalid-message {
  color: #dc3545;
  font-size: small;
}
</style>
