<template>
    <div class="row box ml-5 mr-5">
           
            <div class="col-1 d-flex align-items-center justify-content-center line">{{index+1}}</div>
            <div class="col-2 d-flex align-items-center justify-content-center line">{{info.runner.firstname}}</div>
            <div class="col-2 d-flex align-items-center justify-content-center line">{{info.runner.lastname}}</div>
            <div class="col-1 d-flex align-items-center justify-content-center line">{{info.history.method}}</div>
            <div class="col-2 d-flex align-items-center justify-content-center line">{{info.fee.description}}</div>
            <div class="col-1 d-flex align-items-center justify-content-center line">
              <span style="color:green;" v-if="info.history.cancel== null">Active</span>
              <span style="color:red;" v-else>Canceled</span></div>
            <div class="col-2 d-flex align-items-center justify-content-center line">{{
              new Date(info.history.createdAt).getDate()+'-'+monthsName[new Date(info.history.createdAt).getMonth()]+'-'+new Date(info.history.createdAt).getFullYear()}}</div>
            <div class="col-1 d-flex align-items-center justify-content-center ">
                <button class="btn" @click="Delete">
                <div class="remove d-flex align-items-center justify-content-center">
                    <div class="remove2"></div>
                </div>
                </button>
            </div>
    </div>
    
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VueSweetalert2 from 'vue-sweetalert2';
import eventService from '../shared/event-service';

@Component({
  props: {
    info: Object,
    index: Number
  },
})

export default class ParticipantBox extends Vue{
  public monthsName = [
    'JAN',
    'FEB',
    'MAR',
    'APR',
    'MAY',
    'JUN',
    'JULY',
    'AUG',
    'SEB',
    'OCT',
    'NOV',
    'DEC',
  ];
    public remove(){
      eventService.removeParticipant(this.$props.info.event.id,this.$props.info.runner.id).then(res => {
        console.log(res);
      });
    }
    public Delete() {
    this.$swal({
      title: 'Confirmation',
      text: 'Are you sure you want to remove this runner from this event?',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: ' Delete ',
      reverseButtons: true,
      inputClass: 'swal2-icon swal2-warning swal2-animate-warning-ico',

    }).then((result) => {
      console.log('result'+result.value)
      if (result.value) {
        this.remove();
        history.go();
      }
    });
  }

}


    

</script>

<style scoped>
.box{
    border: 1px solid black;
    border-top-color: transparent;
    height: 52px;
}
.line{
    border-right: 1px solid black;
}
.remove{
    border-radius: 100%;
    background-color: red;
    width: 25px;
    height:25px;
}
.remove2{
    background-color: white;
    height:5px;
    width:10px;

}
</style>

