<template>
  <div
    class="modal fade"
    id="Payment"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    ref="modal"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <b>Payment {{eventId}}</b>
          </h5>
          <button
            type="button"
            @click="clear"
            class="close no-outline"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group password">
            <div class="text-left font-weight-bold">Credit Number</div>
            <input
              class="form-control"
              type="text"
              name="bankAccountNumber"
              id="bankAccountNumber"
              placeholder="1111 2222 3333 4444"
              v-model="bankAccountNumber"
              v-validate="validationRule.bankAccountNumber"
            >
            <span
              class="invalid-feedback"
            >{{ errors.first('bankAccountNumber') ? 'The Card Number field can only contain digits.' : ''}}</span>
          </div>
          <div class="form-group">
            <div class="text-left font-weight-bold">Card holder name</div>
            <input
              class="form-control"
              autofocus="autofocus"
              type="text"
              name="firstname"
              placeholder="Nutchanon Ploypray"
              id="firstname_event"
              v-model="firstname"
              v-validate="validationRule.firstname"
            >
            <span
              class="invalid-feedback"
            >{{ errors.first('firstname') ? 'The Card holder name field is required.' : '' }}</span>
          </div>
          <div class="form-group password">
            <div class="text-left font-weight-bold">Exp Date</div>
            <input
              class="form-control"
              autofocus="autofocus"
              type="text"
              name="firstname"
              placeholder="06/23"
              id="firstname_event"
              v-model="expDate"
              v-validate="validationRule.firstname"
            >
            <span
              class="invalid-feedback"
            >{{ errors.first('firstname') ? 'The Exp Date field is required.' : '' }}</span>
            <div class="text-left font-weight-bold">CV</div>
            <input
              class="form-control"
              type="text"
              name="bankAccountNumber"
              placeholder="123"
              id="bankAccountNumber"
              v-model="cv"
              v-validate="validationRule.bankAccountNumber"
            >
            <span class="invalid-feedback">{{ errors.first('bankAccountNumber') }}</span>
          </div>
          <div class="row">
            <div class="col">
              <button
                type="button"
                @click="clear"
                class="btn btn-orange"
                data-dismiss="modal"
                aria-label="Close"
              >Cancel</button>
            </div>
            <div class="col">
              <button
                type="button"
                @click="pay()"
                class="btn btn-orange"
                data-dismiss="modal"
                aria-label="Close"
              >pay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Vue } from "vue-property-decorator";
import { LOGIN } from "@/store/actions-type";
import { Component, Mixins } from "vue-mixin-decorator";
import UserFormValidation from "@/mixins/UserFormValidation";
import VueSweetalert2 from "vue-sweetalert2";
import EventService from "../shared/event-service";

@Component({
  components: {},
  props: { feeList: Array, eventId: String }
})
export default class SignIn extends Mixins<UserFormValidation>(
  UserFormValidation
) {
  public id = "";
  public firstname = "";
  public password = "";
  public idCardNumber = "";
  public bankAccount = "";
  public bankAccountNumber = "";
  public credit = false;
  public expDate = "";
  public cv = "";
  public clear() {
    this.id = "";
    this.password = "";
  }

  public payByCreditCard() {
    this.credit = true;
    console.log("sdfksdfsdkfjs");
  }
  public async pay() {
    EventService.payEvent(this.$props.eventId)
      .then(res => {
        console.log("success");
        if (res.status === 200) this.succesAlert();
        else this.failAlert();
      })
      .catch(res => {
        console.log("faillfmdskfmksdnfjkosdn");
        this.failAlert();
      });
  }
  public succesAlert() {
    // const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    // closeButton.click();
    const config = {};
    this.$swal({
      type: "success",
      title: "Success",
      text: "Payment complete !"
    }).then(() => this.$emit('paid'));
  }
  public failAlert() {
    // const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    // closeButton.click();
    const config = {};
    this.$swal({
      type: "error",
      title: "fail",
      text: "Payment fail !"
    });
  }
}
</script>

<style scoped>
#reRunner {
  display: inline !important;
  margin: 5px;
}

#reEventmanager {
  display: inline !important;
  margin: 5px;
}
.g {
  font-size: 25px;
}
.btn-orange {
  background-color: rgb(255, 162, 21);
  padding: 0 !important;
  width: 5em;
}
.btn-orange:hover {
  transition: 200ms;
  background-color: rgb(255, 147, 6);
  width: 11em;
}

.name {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  padding-bottom: 0px;
}
.lg_button {
  background: white;
  border: 1px solid #000000;
  color: black;
  border-radius: 0px;
  display: inline;
}
.lg_button:hover {
  background-color: black;
}

.modal-header {
  border-bottom: transparent;
}

.modal-content {
  border-radius: 0px;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn-runner:hover {
  background-color: rgb(239, 171, 98);
}
.btn-event:hover {
  background-color: rgb(81, 177, 189);
}
.btn:hover:enabled {
  text-decoration: none;
  color: white;
}

.styletd {
  margin: 2px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  border-color: rgb(255, 162, 21);
}
.no-outline {
  outline: none;
}
.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}
.btn:focus {
  -webkit-box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.fa-user {
  color: rgb(255, 162, 21);
}

.fa-unlock {
  color: rgb(255, 162, 21);
}

.is-invalid-message {
  color: #dc3545;
  font-size: small;
}
</style>
