<template>
  <div class="container mt-4">
    <div class="row mb-2">
      <h1  class = "col d-flex">Edit your account</h1>
    </div>
    <!-- {{this.$props}} -->
    <div class="profile-detail pt-4">
      <div class="row pl-3">
        <div class="col">
          <h2 style="text-align:left;">Personal Information</h2>
        </div>
      </div>
      <div class="row pl-5 pr-5 mt-3">
        <div class="col">
          <normal-form-list formType="firstname" :data="firstname" @updateValue="updateValue"/>
        </div>
        <div class="col">
          <normal-form-list formType="lastname" :data="lastname" @updateValue="updateValue"/>
        </div>
      </div>
      <div class="row pl-5 pr-5 mt-3">
        <div class="col">
          <normal-form-list formType="idCardNumber" :data="idCardNumber" @updateValue="updateValue"
          />
        </div>
        <div class="col">
          <normal-form-list formType="phoneNumber" :data="phoneNumber" @updateValue="updateValue"/>
        </div>
      </div>
      <div class="row pl-5 pr-5 mt-3 mb-5">
        <div class="col">
          <date-form-list formType="birthDate" :data="birthDate" @updateValue="updateValue"/>
        </div>
        <div class="col pt-4 ">
          <radio-form-list formType="gender" :data="gender" @updateValue="updateValue"/>
        </div>
      </div>
    </div>
  </div>
</template>



<script lang="ts">
import { Vue } from 'vue-property-decorator';
import { RunnerRegistrationForm } from '@/types/form';
import { Component, Mixins } from 'vue-mixin-decorator';
import UserFormValidation from '@/mixins/UserFormValidation';
import NormalFormList from '@/components/Form/NormalFormList.vue';
import DateFormList from '@/components/Form/DateFormList.vue';
import RadioFormList from '@/components/Form/RadioFormList.vue';

@Component({
  components: {
    'normal-form-list': NormalFormList,
    'date-form-list': DateFormList,
    'radio-form-list': RadioFormList,
  },
  props: {
    birthDate: String,
    firstname: String,
    gender: String,
    id: String,
    idCardNumber: String,
    lastname: String,
    password: String,
    phoneNumber: String,
    role: String,
  },
})
export default class PersonalDetail extends Mixins<UserFormValidation>(
  UserFormValidation,
) {
  // data

  // method
  public updateValue(data: any) {
    console.log(`update:${data.type}`, data.value);
    this.$emit(`update:${data.type}`, data.value);
  }

  // mounted
  public mounted() {
    console.log('gemderrr', this.$props);
  }
}
</script>

<style  scoped>
.profile-detail {
  border: 1px solid #4c3c1b;
}

.form-control {
  border: transparent !important;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
}
.lg_button {
  background: white !important;
  border: 1px solid #000000 !important;
  color: black !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: transparent !important;
}

.modal-content {
  border-radius: 0px !important;
  padding: 1rem !important;
  border: 1px solid #000000;
}

.hr-new {
  border: 1px solid #707070;
}

.btn:hover:enabled {
  background-color: black !important;
  color: white !important;
  text-decoration: none !important;
}

.modal {
  overflow-y: auto;
}
body.modal-open {
  overflow: hidden;
}

.inline {
  display: inline;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
}
.form-group {
  margin-bottom: 10px !important;
}
.close:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>

