<template>
  <div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('closeModal')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-left">
                <div class="row">
                  <div class="col-12 line"><strong>From: </strong> {{currentUser.id}}</div>
                </div>
                <div class="row" v-if="form.reportedId">
                  <div class="col-12 line"><strong>To:</strong> {{form.reportedId}}</div>
                </div>
                <div class="row" v-if="form.reportedEvent > -1">
                  <div class="col-12 line"><strong>Event:</strong> {{event.name}}</div>
                </div>
                <hr>
                <EventFormTextArea class="line" label="Reason" name="reason" v-model="form.reason" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary lg_button"
                  @click="$emit('closeModal')"
                >Close</button>
                <button
                  type="button"
                  class="btn btn-secondary lg_button"
                  @click="submit"
                >Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { Report, RegistrationTransaction, Event, User, HTTP_STATUS_OK, CreateReportForm } from '@/types';
import eventService from '../shared/event-service';
import reportService from '../shared/report-service';
import EventFormTextArea from './Form/EventFormTextArea.vue';

@Component({
  components: {
    EventFormTextArea,
  }
})
export default class ReportEvent extends Vue {
  @Prop({ default: {} }) event!: Event;
  public form: CreateReportForm = {
    reason: '',
    reportedId: '',
    reportedEvent: -1,
  }

  public get currentUser() {
    return this.$store.getters.currentUser;
  }

  public async submit() {
    try {
      await reportService.createReport(this.form);
    } catch {
    } finally {
      this.$emit('closeModal');
    }
  }

  public async mounted() {
    const event = this.event;
    const response = await eventService.getOwner(String(event.id));
    if (response.status === HTTP_STATUS_OK) {
      if (response.data) {
        this.form.reportedId = response.data.owner.id || '';
        this.form.reportedEvent = event.id;
      }
    }
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.line {
  padding-bottom: 5px;
  padding-left: 25px;
}

.modal-header {
  border-bottom: transparent !important;
}

.modal-body {
  border-bottom: transparent !important;
}

.modal-footer {
  border-top: transparent !important;
}

.modal-content {
  border-radius: 0px !important;
  border: 1px solid #000000;
}

.lg_button {
  background: white !important;
  border: 1px solid #616161 !important;
  color: black !important;
  border-radius: 0px !important;
}

.btn:hover:enabled {
  background-color: #616161 !important;
  color: white !important;
  text-decoration: none !important;
}
</style>
