<template>
    <div
        class="modal fade"
        id="ReportProblem"
        tabindex="-1"
        role="dialog"
        aria-labelledby="ReportProblemModal"
        aria-hidden="true"
        ref="ReportProblemModal"
    >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h4 class="modal-title" id="ReportProblemModal">
                        <b>Report Problem</b>
                    </h4>
                </div>
            </div>  
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { RegistrationTransaction } from '@/types';

@Component({
  components: {}
})
export default class ReportProblem extends Vue {
  @Prop(Object) reservation!: RegistrationTransaction;
}

</script>

<style scoped>
</style>