<template>
  <div class="row justify-content-center">
    <div class="col-1 date-box mr-3 d-flex flex-column justify-content-center">
      <div class>
        <h3>{{new Date(reservation.event.date).getDate()}}</h3>
      </div>
      <div class>
        {{monthsName [new Date(reservation.event.date).getMonth()]}}
        {{new Date(reservation.event.date).getFullYear()}}
      </div>
    </div>
    <div class="col-10 p-3 box row d-flex align-items-center">
      <span class="col-4">
        <div class="row">
          <div class="col name">{{reservation.event.name}}</div>
        </div>
        <div class="row">
          <div class="col location text-truncate">
              <i class="fas fa-map-marker-alt"></i>
              {{reservation.event.location}}</div> 
        </div>
      </span>
      <span class="set-element col-3">
        <span>{{reservation.fee.description}}</span>
      </span>
      <span class="set-element col-1">
        <span>{{reservation.shirtSize}}</span>
      </span>
      <div class="col-4">
        <span>
          <button 
            type="button" 
            class="btn button-details"
            @click="showModal = true"
            >
              Report Problems
            </button>
        </span>
        <span>
            <button 
              type="button" 
              class="btn button-cancel"
              @click="Delete"
            >
              Cancel Reservation
            </button>
        </span>
      </div>
      <ReportEvent
        :event="reservation.event"
        @closeModal="showModal = false"
        v-if="showModal"
      />
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import VueSweetalert2 from 'vue-sweetalert2';
import ReportProblem from '@/components/ReportProblem.vue'
import ReportEvent from '@/components/ReportEvent.vue';
import { RegistrationTransaction } from '@/types';
import eventService from '@/shared/event-service.ts';

@Component({
  components: { ReportProblem, ReportEvent }
})
export default class Reservationbox extends Vue {
  @Prop(Object) reservation!: RegistrationTransaction;
  public showModal = false;

  public monthsName = [
    'JAN',
    'FEB',
    'MAR',
    'APR',
    'MAY',
    'JUN',
    'JULY',
    'AUG',
    'SEB',
    'OCT',
    'NOV',
    'DEC',
  ];
  public cancelReservation() {
    this.$emit('cancel', this.reservation);
  }

  public remove(){
      eventService.cancelReservation(this.reservation.event.id).then(res => {
        console.log(res);
      });
    }

  public Delete() {
    this.$swal({
      title: 'Are you sure you want to cancel this reservation?',
      text: '',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: ' Confirm ',
      reverseButtons: true,
      inputClass: 'swal2-icon swal2-warning swal2-animate-warning-ico',

    }).then((result) => {
      console.log('result'+result.value)
      if (result.value) {
        this.remove();
        history.go();
      }
    });
  }
}
</script>
<style scoped>
.box {
  border: 1px solid #707070;
}
.date-box {
  border: transparent;
  border-left: 3px solid rgb(255, 162, 21);
}
.set {
  margin-bottom: 5%;
}
.set-element-status {
  padding-right: 0px;
  padding-left: 0 px;
}
.center {
  padding: 50% 0;
}
.name {
  font-size: 18px;
  text-align: left;
}
.button-details {
  border: 1px solid #707070;
  margin-right: 5px;
  border-radius: 0%;
}

.button-cancel {
  background-color: #e40f0f;
  color: white;
  border-radius: 0%;
}
.button-cancel:hover {
  color: white;
}
.location {
  font-size: 11px;
  text-align: left;
}
.swal2-icon.swal2-warning.swal2-animate-warning-icon{
    border-color: #e40f0f ;
    color: #f01212 ;
}
</style>
