<template>
  <div
    class="modal fade"
    id="Reservation"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ReservationModal"
    aria-hidden="true"
    ref="reservationModal"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h4 class="modal-title" id="ReservationModal">
            <b>Reservation</b>
          </h4>
          <button type="button" class="close no-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-auto">
              <p class="text-left">
                <strong>Runner information</strong>
              </p>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customRadio"
                    name="example1"
                    value="customEx"
                  >
                  <label
                    class="custom-control-label"
                    for="customRadio"
                    style="font-size:14px;padding-top:2px"
                  >Use your account information</label>
                </div>
                <div class="row pl-5 mt-3">
                  <div class="col-xs">
                    <fieldset disabled>
                      <!-- <normal-form-list class="normal-form" formType="firstname" :data="firstname" @updateValue="updateValue"/>
                     <normal-form-list class="normal-form" formType="lastname" :data="lastname" @updateValue="updateValue"/>
                     <normal-form-list class="normal-form" formType="idCardNumber" :data="idCardNumber" @updateValue="updateValue"/>
                     <normal-form-list class="normal-form" formType="phoneNumber" :data="phoneNumber" @updateValue="updateValue"/>
                     <date-form-list class="date-form" formType="birthDate" :data="birthDate" @updateValue="updateValue"/>
                      <radio-form-list class="radio-form" formType="gender" :data="gender" @updateValue="updateValue"/>-->
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs offset-1"></div>
            <div class="col-auto">
              <div class="form-group">
                <div class="row">
                  <div class="col-auto">
                    <label>
                      <strong>Shirt size</strong>
                    </label>
                  </div>
                  <div class="col-auto">
                    <form>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="customRadio2"
                          name="example"
                          value="S"
                          v-model="shirtSize"
                        >
                        <label
                          class="custom-control-label"
                          for="customRadio2"
                          style="font-size:14px;padding-top:2px"
                        >S</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="customRadio3"
                          name="example"
                          value="M"
                          v-model="shirtSize"
                        >
                        <label
                          class="custom-control-label"
                          for="customRadio3"
                          style="font-size:14px;padding-top:2px"
                        >M</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="customRadio4"
                          name="example"
                          value="L"
                          v-model="shirtSize"
                        >
                        <label
                          class="custom-control-label"
                          for="customRadio4"
                          style="font-size:14px;padding-top:2px"
                        >L</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="customRadio5"
                          name="example"
                          value="XL"
                          v-model="shirtSize"
                        >
                        <label
                          class="custom-control-label"
                          for="customRadio5"
                          style="font-size:14px;padding-top:2px"
                        >XL</label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-auto">
                    <label>
                      <strong>Running type</strong>
                    </label>
                  </div>
                </div>
                <div
                  @click="selectFee(item)"
                  class="row d-flex justify-content-between pl-3 btn btn-orange mb-1"
                  style="border-radius:5px;"
                  v-for="item in feeList"
                  :key="item.id"
                >
                  <div class>
                    <label style="font-size:14px;padding-top:2px">{{item.description}}</label>
                  </div>
                  <div class>
                    <label style="font-size:14px">{{item.price}} THB</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex flex-row justify-content-end align-items-center align-text-bottom">
            <div class="p-2 align-items-center" style="font-size:14px">
              {{eventId}} Registration fee:
              <h1 style="" class="runner">{{selectedFee.price}}</h1>
            </div>
            <div class="p-2">
              <button
                type="button"
                data-dismiss="modal"
                aria-label="Close"
                @click="reserve()"
                class="btn btn-outline-dark"
                style="font-size:15px"
                data-toggle="modal"
                data-target="#Payment"
              >Reserve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import UserFormValidation from "@/mixins/UserFormValidation";
import NormalFormList from "@/components/Form/NormalFormList.vue";
import DateFormList from "@/components/Form/DateFormList.vue";
import RadioFormList from "@/components/Form/RadioFormList.vue";
import eventService from "../shared/event-service";

@Component({
  components: {
    "normal-form-list": NormalFormList,
    "date-form-list": DateFormList,
    "radio-form-list": RadioFormList
  },
  props: {
    feeList: Array,
    eventId: String
  }
})
export default class Reservation extends Vue {
  public selectedFee: any = {};
  public shirtSize = '';
  // method
  public selectFee(fee: any) {
    this.selectedFee = fee;
  }
  public reserve() {
    eventService
      .reserveEvent(this.$props.eventId, "Online Payment", this.selectedFee.id, this.shirtSize)
      .then(res => {
        this.$emit('reserved')
        console.log(res);
      });
  }
  public succesAlert() {
    const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    closeButton.click();
    const config = {};
    this.$swal({
      type: 'success',
      title: 'Success',
      text: 'Reserve complete !',
    });
  }
  public failAlert() {
    const closeButton: HTMLElement = this.$refs.closeModal as HTMLElement;
    closeButton.click();
    const config = {};
    this.$swal({
      type: 'error',
      title: 'fail',
      text: 'Reserve fail !',
    });
  }
}
</script>

<style scoped>

.runner {
  
}
.modal-header {
  border-bottom: transparent;
}
.btn-orange {
  background-color: rgb(255, 162, 21);
}
.btn-orange:hover {
  transition: 200ms;
  background-color: rgb(255, 147, 6);
}
.modal-content {
  width: auto !important;
}
.modal-body {
  padding-top: 0;
  text-align: initial;
  max-width: 100%;
  width: auto !important;
}
.modal-footer {
  border-top: transparent;
  padding-top: 0;
}
.btn {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.form-group {
  margin-bottom: 8px;
}
.normal-form {
  font-size: 14px;
}
.date-form {
  font-size: 14px;
}
.radio-form {
  padding-top: 1px;
  font-size: 14px;
}
</style>

