<template>
  <div>
    <div class="row d-flex align-items-center justify-content-center text-center">
      <input
        type="Search"
        v-model="search"
        class="form-control search-input"
        id="exampleFormControlInput1"
        placeholder="search by name or location"
        v-on:keyup.enter="searchEvent()"
      >
      <div style="width:1.5rem;height:1.5rem;">
        <font-awesome-icon
          class="search-icon"
          icon="search"
          @click="searchEvent()"
          style="width:100%;height:100%;cursor:pointer;"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  props: {},
})
export default class SearchBox extends Vue {
  // data
  public search = '';
  // method

  public searchEvent() {
    this.$router.push({ path: '/search', query: { search: this.search } });
  }
}
</script>

<style scoped>
.form-control {
  width: 250px;
}
.search-input {
  border-radius: 3px;
  margin-right: 15px;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  border-color: rgb(255, 162, 21);
}
.search-icon:hover {
  transition: 200ms;
  color: rgb(255, 162, 21);
}
</style>
