<template>
  <div class="col mt-2">
    <div class="d-flex align-items-center flex-grow-1">
      <div class="mr-3">Search:</div>
      <input
        type="Search"
        v-model="search"
        class="form-control search-input col"
        id="exampleFormControlInput1"
        placeholder="Search by name or location"
        v-on:keyup.enter="searchEvents()"
      >
      <div style="width:38px;height:38px;" class="col-2">
        <font-awesome-icon
          class="search-icon"
          icon="search"
          @click="searchEvents()"
          style="width:100%;height:100%;cursor:pointer;"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  props: {},
})
export default class SearchBar extends Vue {
  // data
  public search = '';
  // created
  public mounted() {}
  public created() {}
  // method
  public searchEvents() {
    this.$emit('searchEvents', this.search);
  }
}
</script>

<style scoped>
.search-input {
  height: 43px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
}
.search-icon:hover {
  transition: 200ms;
  color: rgb(255, 162, 21);
}
.search-input::placeholder {
  color: #adadad;
  font-size: 14px;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  border-color: rgb(255, 162, 21);
}
</style>
