<template>
<div class="container mt-4">
  <div class="row head">
    <div class="col-2 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Date</div>
    <div class="col-2 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Time</div>
    <div class="col-2 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Transaction ID</div>
    <div class="col-2 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Event Name</div>
    <div class="col-2 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Runner Name</div>
    <div class="col-1 head-cell cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Amount</div>
    <div class="col-1 cell" :class="{'runner' : this.role=== 'Runner' ,'event-manager' : this.role === 'EventManager'}">Type</div>
  
  </div>
  <div class="row bor" v-for="(item, index) in paymentData" :key="index" >
    <div class="col-2 cell d-flex justify-content-center align-items-center ">{{item.date.toDateString()}}</div>
    <div class="col-2 cell d-flex justify-content-center align-items-center ">{{item.date.toLocaleTimeString()}}</div>
    <div class="col-2 cell d-flex justify-content-center align-items-center ">{{item.TransactionId}}</div>
    <div class="col-2 cell d-flex justify-content-center align-items-center ">{{item.EventName}}</div>
    <div class="col-2 cell d-flex justify-content-center align-items-center ">{{item.RunnerName}}</div>
    <div class="col-1 cell d-flex justify-content-center align-items-center " :class="{ 'refund': item.Type === 'Refund' , 'fee': item.Type === 'Registration Fee'}">{{item.Amount}}</div>
    <div class="col-1 cell d-flex justify-content-center align-items-center" :class="{ 'refund': item.Type === 'Refund' , 'fee': item.Type === 'Registration Fee'}">{{item.Type}}</div>
  </div>

</div>
  
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { PaymentLists } from '@/types';

@Component({
  components: {},
  props: { paymentData:Array}
})
export default class EditProfile extends Vue {
  // data
  creditId = "1234-5678-90";
  role = ''
  userId = ''
  // mounted
  public mounted() {
    console.log(this.$store.getters.currentUser);
    const {id,role} = this.$store.getters.currentUser
    this.role = role
    this.userId = id
  }
}
</script>

<style scoped>
.banner {
  background-color: rgb(81, 177, 189);
  text-align: left;
  padding-left: 100px;
  padding-top: 30px;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  padding-bottom: 30px;
}

.account {
  text-align: left;
  padding-left: 100px;
  font-size: 1.5rem;
}
.head {
  border: 1px solid black;

font-size: 1.25rem;
color: white;
}
.head-cell {
  border-right: 1px solid black;
}
.cell {
  padding: 15px 0px 15px 0px;
}
.refund {
  color: red;
}
.fee{
  color: green;
}
.bor{
  border: 1px solid black;
  border-top: 0px;
}
.event-manager{
  background-color: rgb(81, 177, 189);
}
.runner{
  background-color: rgb(255, 162, 21);
}
</style>
