<template>
  <a-table :columns="columns" :dataSource="getEvents">
    <span slot="date" slot-scope="date">
      <div class="row col">
        <div
          class="tab"
          :class="{ 'bg-runner' : currentUser.role === 'Runner' , 'bg-manager': currentUser.role === 'EventManager'}"
        ></div>
        <div class="d-flex flex-column">
          <div>{{date.getDate()}}</div>
          <div>{{monthsName[date.getMonth()]}}&nbsp;{{date.getUTCFullYear().toString().substr(2,3)}}</div>
        </div>
      </div>
    </span>
    <span slot="event" slot-scope="event">
      <a :href="`/event?id=${event.id}`">
        <div class="text-truncate" style="max-width: 230px;">{{event.name}}</div>
        <div class="text-truncate" style="max-width: 230px;">
          <i class="fas fa-map-marker-alt"></i>
          &nbsp;{{event.location}}
        </div>
      </a>
    </span>
  </a-table>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { User, Event } from "@/types";
@Component({
  props: { events: Event }
})
export default class UpComingEvents extends Vue {
  //data
  public monthsName = [
    "JAN",
    "FEB",
    "MAR",
    "APR",
    "MAY",
    "JUN",
    "JULY",
    "AUG",
    "SEB",
    "OCT",
    "NOV",
    "DEC"
  ];
  public columns = [
    {
      title: "Date",
      dataIndex: "date",
      key: "date",
      scopedSlots: { customRender: "date" }
    },
    {
      title: "Event's Name",
      dataIndex: "event",
      key: "event",
      scopedSlots: { customRender: "event" }
    }
  ];
  //method
  public get getEvents() {
    let data = [];
    const events = this.$props.events;
    const temp = this.$props.events.sort((a:any, b:any) => {
      if (new Date(a.event.date).getDate() < new Date(b.event.date).getDate()) return 1
      else return -1
    });
    for (let i = 0; i < events.length; i++) {
      data.push({
        key: (i + 1).toString(10),
        date: new Date(events[i]["event"]["date"]),
        event: events[i]["event"]
      });
    }
    return data;
  }
  public get currentUser(): User {
    return this.$store.getters.currentUser;
  }
}
</script>

<style scoped>
.tab {
  width: 8px;
  position: absolute;
  height: 74px;
  left: 0px;
  top: -16px;
}
.bg-runner {
  background-color: #ff9100;
}
.bg-manager {
  background-color: #20c0cb;
}
</style>
