<template>
  <div>
    <div class="d-flex align-items-center justify-content-center mr-5" v-if="isAuthenticated">
      
      <a href="/calendar"><i class="fas fa-calendar-alt calendar" :hidden="currentUser.role === 'EventManager'"></i></a>
      <div class="dropdown">
        <span
          class="dropdown-toggle"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor:pointer;"
        >
          <span class="user">{{currentUser.id}}</span>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/profile">My Profile</a>
          <a class="dropdown-item" v-if = "currentUser.role == 'Runner'" href="/reservationlist">My Reservations </a>
          <a class="dropdown-item" href="#">My Wallet</a>
          <a
            class="dropdown-item"
            v-if="currentUser.role === 'EventManager'"
            href="/eventlist"
          >My Event Lists</a>
          <template v-if="currentUser.role === 'Admin'">
            <a class="dropdown-item" href="/admin/report">View Report</a>
            <a class="dropdown-item" href="/admin/eventList">Event Dashboard</a>
          </template>
          <a class="dropdown-item" @click="logOut" href="#">LOGOUT</a>
        </div>
      </div>
    </div>
    <span
      v-else
      class="udl bd-highlight main-btn"
      @click="focusLogin()"
      data-toggle="modal"
      data-target="#Login"
    >Log in/Register</span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import apiService from "@/shared/api-service";
import VueSweetalert2 from "vue-sweetalert2";
import { LOGOUT } from "@/store/actions-type";
import { User } from "@/types";
@Component({
  props: {}
})
export default class UserDropDownMenu extends Vue {
  public isLoading = false;
  // mounted
  public mounted() {
    console.log(this.$props);
  }

  // method
  public focusLogin() {}
  public logOut() {
    this.$swal({
      title: "Are you sure you want to log out?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Log out !",
      reverseButtons: true
    }).then(result => {
      if (result.value) {
        this.$store.dispatch(LOGOUT);
        this.$router.push("/");
      }
    });
  }
  public get currentUser(): User {
    return this.$store.getters.currentUser;
  }
  public get isAuthenticated(): boolean {
    return this.$store.state.SessionModule.isAuthenticated;
  }
}
</script>

<style scoped>
.user {
  font-weight: 900;
  color: gray;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.calendar {
  color: gray;
  display: inline-block;
  margin: 10px 15px 11px;
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
}
.calendar:hover {
  color: #3F3F3F;
}

.udl {
  color: gray;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}
.udl:after {
  background: none repeat scroll 0 0 transparent;
  text-decoration: none;
  bottom: 15%;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(255, 162, 21);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.udl:hover:after {
  width: 80%;
  text-decoration: none;
  left: 9.5%;
}
.dropdown-menu {
  font-size: 0.8em;
}
</style>
