<template>
  
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AdminLogin extends Vue {

}
</script>

<style scoped>

</style>

