<template>
  <div class>
    <div class="d-flex align-items-center justify-content-between inform mb-5 pl-5 pr-5">
      <div class>
        <b>Event Administration Dashboard</b>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-1 mr-3">
        <span class="set-element">Date</span>
      </div>
      <div class="col-10 row">
        <span class="set-element col-3">Event name</span>
        <span class="set-element col-2">Status</span>
        <span class="set-element col-2">Participant</span>
        <div class="col-5"></div>
      </div>
      <div class="col-1"></div>
    </div>
    <div v-if="events" >
    <div class="mb-3 mt-3" v-for="event in events" :key="event.id">
      <AdminEventbox :info="event"/>
    </div>

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AdminEventbox from '@/components/admin/AdminEventbox.vue';
import { Event } from '@/types';
import EventService from '@/shared/event-service';

@Component({
  components: {
    AdminEventbox,
  },
})
export default class AdminEventlists extends Vue {

  public events: Event[] = [];

  public async getEvent() {
     EventService.getAllEvent().then((res) => {
       console.log('res', res);
       if (res.data) {
         const data = res.data
         const events = data.sort((a,b) => {
           if( new Date(a.date) > new Date(b.date))
           return 1;
           else return -1;
         })
        this.events = events;
        console.log(this.events);
      }
    });
  }
  public async mounted() {
    this.getEvent();
  }

}
</script>

<style scoped>
.list {
  margin: 0px 7% 0px 7%;
  height: 100vh;
}

.set-element {
  padding: 0 8%;
}
.inform {
  background-image: linear-gradient(to right, #616161, #818181);
  height: 6rem;
  font-size: 1.7rem;
  color: white;
  /* transition: opacity 500ms ease-in-out; */
  /* opacity: 0; */
}
.button-create {
  background-color: white;
  border: 1px solid #707070;
  color: #616161;
  border-radius: 0%;
}
.button-create:hover {
  color: #02abb8;
}
</style>
