<template>
  <div>
    <div class="d-flex align-items-center justify-content-between inform mb-5 pl-5 pr-5">
      <div class>
        <b>Report Inbox</b>
      </div>
    </div>
    <div class="row pl-5 text-left">
      <div class="col-12 row">
        <span class="set-element col-6">Reason</span>
        <span class="set-element col-2">From</span>
        <span class="set-element col-2">To</span>
        <span class="set-element col-2"></span>
      </div>
    </div>
    <div class="mt-3 mb-3" v-for="report in reports" :key="report.id">
      <AdminReportBox :report="report" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import reportService from '@/shared/report-service';
import { Report } from '@/types';
import AdminReportBox from '@/components/admin/AdminReportBox.vue';

@Component({
  components: {
    AdminReportBox,
  },
})
export default class AdminReport extends Vue {
  public reports: Report[] = [];

  created() {
    this.getAllReport();
  }

  public async getAllReport() {
    try {
      const response = await reportService.getAllReport();
      const reports = response.data;
      this.reports = reports || [];
    } catch (error) {
      this.reports = [];
    }
  }
}
</script>

<style scoped>
.inform {
  background-image: linear-gradient(to right, #616161, #818181);
  height: 6rem;
  font-size: 1.7rem;
  color: white;
}

.set-element {
  padding: 0 8%;
}
</style>
